Projects/_PrestaSoft/PrestaSoft/frontend/SoftBibliotecaWA/SoftBibliotecaBO/Connected Services/Reportes/Reportes1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://servicios.softbiblioteca.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Reportes" targetNamespace="http://servicios.softbiblioteca.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftBibliotecaWS_Servidor/Reportes?xsd=1" namespace="http://servicios.softbiblioteca.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="reportePublicaciones">
    <part name="parameters" element="tns:reportePublicaciones" />
  </message>
  <message name="reportePublicacionesResponse">
    <part name="parameters" element="tns:reportePublicacionesResponse" />
  </message>
  <message name="reporteSolicitudes">
    <part name="parameters" element="tns:reporteSolicitudes" />
  </message>
  <message name="reporteSolicitudesResponse">
    <part name="parameters" element="tns:reporteSolicitudesResponse" />
  </message>
  <message name="reporteMiembros">
    <part name="parameters" element="tns:reporteMiembros" />
  </message>
  <message name="reporteMiembrosResponse">
    <part name="parameters" element="tns:reporteMiembrosResponse" />
  </message>
  <portType name="Reportes">
    <operation name="reportePublicaciones">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/Reportes/reportePublicacionesRequest" message="tns:reportePublicaciones" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/Reportes/reportePublicacionesResponse" message="tns:reportePublicacionesResponse" />
    </operation>
    <operation name="reporteSolicitudes">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/Reportes/reporteSolicitudesRequest" message="tns:reporteSolicitudes" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/Reportes/reporteSolicitudesResponse" message="tns:reporteSolicitudesResponse" />
    </operation>
    <operation name="reporteMiembros">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/Reportes/reporteMiembrosRequest" message="tns:reporteMiembros" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/Reportes/reporteMiembrosResponse" message="tns:reporteMiembrosResponse" />
    </operation>
  </portType>
  <binding name="ReportesPortBinding" type="tns:Reportes">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="reportePublicaciones">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="reporteSolicitudes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="reporteMiembros">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Reportes">
    <port name="ReportesPort" binding="tns:ReportesPortBinding">
      <soap:address location="http://localhost:8080/SoftBibliotecaWS_Servidor/Reportes" />
    </port>
  </service>
</definitions>