Projects/_PrestaSoft/PrestaSoft/frontend/SoftBibliotecaWA/SoftBibliotecaBO/Connected Services/ServicioWeb/ServicioWeb1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://servicios.softbiblioteca.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ServicioWeb" targetNamespace="http://servicios.softbiblioteca.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftBibliotecaWS_Servidor/ServicioWeb?xsd=1" namespace="http://servicios.softbiblioteca.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="modificarUniversidadesAsociadasDeUsuario">
    <part name="parameters" element="tns:modificarUniversidadesAsociadasDeUsuario" />
  </message>
  <message name="modificarUniversidadesAsociadasDeUsuarioResponse">
    <part name="parameters" element="tns:modificarUniversidadesAsociadasDeUsuarioResponse" />
  </message>
  <message name="listarTodos_UsuariosDeUniversidadPorID">
    <part name="parameters" element="tns:listarTodos_UsuariosDeUniversidadPorID" />
  </message>
  <message name="listarTodos_UsuariosDeUniversidadPorIDResponse">
    <part name="parameters" element="tns:listarTodos_UsuariosDeUniversidadPorIDResponse" />
  </message>
  <message name="consultarPrestamoQueSePrestoCopiaEjemplar">
    <part name="parameters" element="tns:consultarPrestamoQueSePrestoCopiaEjemplar" />
  </message>
  <message name="consultarPrestamoQueSePrestoCopiaEjemplarResponse">
    <part name="parameters" element="tns:consultarPrestamoQueSePrestoCopiaEjemplarResponse" />
  </message>
  <message name="listarTodos_UniversidadesDeUsuarioPorID">
    <part name="parameters" element="tns:listarTodos_UniversidadesDeUsuarioPorID" />
  </message>
  <message name="listarTodos_UniversidadesDeUsuarioPorIDResponse">
    <part name="parameters" element="tns:listarTodos_UniversidadesDeUsuarioPorIDResponse" />
  </message>
  <message name="insertarEditorial">
    <part name="parameters" element="tns:insertarEditorial" />
  </message>
  <message name="insertarEditorialResponse">
    <part name="parameters" element="tns:insertarEditorialResponse" />
  </message>
  <message name="verDetallePublicacionLibro">
    <part name="parameters" element="tns:verDetallePublicacionLibro" />
  </message>
  <message name="verDetallePublicacionLibroResponse">
    <part name="parameters" element="tns:verDetallePublicacionLibroResponse" />
  </message>
  <message name="nuevaPublicacionLibro">
    <part name="parameters" element="tns:nuevaPublicacionLibro" />
  </message>
  <message name="nuevaPublicacionLibroResponse">
    <part name="parameters" element="tns:nuevaPublicacionLibroResponse" />
  </message>
  <message name="buscarEditorialPorNombre">
    <part name="parameters" element="tns:buscarEditorialPorNombre" />
  </message>
  <message name="buscarEditorialPorNombreResponse">
    <part name="parameters" element="tns:buscarEditorialPorNombreResponse" />
  </message>
  <message name="retornarNombreDelSevicio">
    <part name="parameters" element="tns:retornarNombreDelSevicio" />
  </message>
  <message name="retornarNombreDelSevicioResponse">
    <part name="parameters" element="tns:retornarNombreDelSevicioResponse" />
  </message>
  <message name="obtenerPorAtributosUnicos">
    <part name="parameters" element="tns:obtenerPorAtributosUnicos" />
  </message>
  <message name="obtenerPorAtributosUnicosResponse">
    <part name="parameters" element="tns:obtenerPorAtributosUnicosResponse" />
  </message>
  <message name="buscarAutorPorNombre">
    <part name="parameters" element="tns:buscarAutorPorNombre" />
  </message>
  <message name="buscarAutorPorNombreResponse">
    <part name="parameters" element="tns:buscarAutorPorNombreResponse" />
  </message>
  <message name="listarTodos_AutoresDeLibro">
    <part name="parameters" element="tns:listarTodos_AutoresDeLibro" />
  </message>
  <message name="listarTodos_AutoresDeLibroResponse">
    <part name="parameters" element="tns:listarTodos_AutoresDeLibroResponse" />
  </message>
  <message name="consultarCopiaEjemplar">
    <part name="parameters" element="tns:consultarCopiaEjemplar" />
  </message>
  <message name="consultarCopiaEjemplarResponse">
    <part name="parameters" element="tns:consultarCopiaEjemplarResponse" />
  </message>
  <message name="buscarTemaPorNombre">
    <part name="parameters" element="tns:buscarTemaPorNombre" />
  </message>
  <message name="buscarTemaPorNombreResponse">
    <part name="parameters" element="tns:buscarTemaPorNombreResponse" />
  </message>
  <message name="listarTodos_AutoresDeTesis">
    <part name="parameters" element="tns:listarTodos_AutoresDeTesis" />
  </message>
  <message name="listarTodos_AutoresDeTesisResponse">
    <part name="parameters" element="tns:listarTodos_AutoresDeTesisResponse" />
  </message>
  <message name="publicacionesPorAutor">
    <part name="parameters" element="tns:publicacionesPorAutor" />
  </message>
  <message name="publicacionesPorAutorResponse">
    <part name="parameters" element="tns:publicacionesPorAutorResponse" />
  </message>
  <message name="verDetallePublicacioTesis">
    <part name="parameters" element="tns:verDetallePublicacioTesis" />
  </message>
  <message name="verDetallePublicacioTesisResponse">
    <part name="parameters" element="tns:verDetallePublicacioTesisResponse" />
  </message>
  <message name="modificarPublicacionLibro">
    <part name="parameters" element="tns:modificarPublicacionLibro" />
  </message>
  <message name="modificarPublicacionLibroResponse">
    <part name="parameters" element="tns:modificarPublicacionLibroResponse" />
  </message>
  <message name="nuevaPublicacionTesis">
    <part name="parameters" element="tns:nuevaPublicacionTesis" />
  </message>
  <message name="nuevaPublicacionTesisResponse">
    <part name="parameters" element="tns:nuevaPublicacionTesisResponse" />
  </message>
  <message name="listarTodos_TesisDeAutor">
    <part name="parameters" element="tns:listarTodos_TesisDeAutor" />
  </message>
  <message name="listarTodos_TesisDeAutorResponse">
    <part name="parameters" element="tns:listarTodos_TesisDeAutorResponse" />
  </message>
  <message name="listarTodos_TemasDeTesis">
    <part name="parameters" element="tns:listarTodos_TemasDeTesis" />
  </message>
  <message name="listarTodos_TemasDeTesisResponse">
    <part name="parameters" element="tns:listarTodos_TemasDeTesisResponse" />
  </message>
  <message name="listarTodos_TesisDeTema">
    <part name="parameters" element="tns:listarTodos_TesisDeTema" />
  </message>
  <message name="listarTodos_TesisDeTemaResponse">
    <part name="parameters" element="tns:listarTodos_TesisDeTemaResponse" />
  </message>
  <message name="listarTodos_LibrosDeAutor">
    <part name="parameters" element="tns:listarTodos_LibrosDeAutor" />
  </message>
  <message name="listarTodos_LibrosDeAutorResponse">
    <part name="parameters" element="tns:listarTodos_LibrosDeAutorResponse" />
  </message>
  <message name="politicaprestamo_listarTodos">
    <part name="parameters" element="tns:politicaprestamo_listarTodos" />
  </message>
  <message name="politicaprestamo_listarTodosResponse">
    <part name="parameters" element="tns:politicaprestamo_listarTodosResponse" />
  </message>
  <message name="listarTodos_UsuariosDeUniversidad">
    <part name="parameters" element="tns:listarTodos_UsuariosDeUniversidad" />
  </message>
  <message name="listarTodos_UsuariosDeUniversidadResponse">
    <part name="parameters" element="tns:listarTodos_UsuariosDeUniversidadResponse" />
  </message>
  <message name="politicareserva_listarTodos">
    <part name="parameters" element="tns:politicareserva_listarTodos" />
  </message>
  <message name="politicareserva_listarTodosResponse">
    <part name="parameters" element="tns:politicareserva_listarTodosResponse" />
  </message>
  <message name="ObtenerCopiasEjemplaresDeTesis">
    <part name="parameters" element="tns:ObtenerCopiasEjemplaresDeTesis" />
  </message>
  <message name="ObtenerCopiasEjemplaresDeTesisResponse">
    <part name="parameters" element="tns:ObtenerCopiasEjemplaresDeTesisResponse" />
  </message>
  <message name="consultarCalificacionPrestamo">
    <part name="parameters" element="tns:consultarCalificacionPrestamo" />
  </message>
  <message name="consultarCalificacionPrestamoResponse">
    <part name="parameters" element="tns:consultarCalificacionPrestamoResponse" />
  </message>
  <message name="listarTodos_UniversidadesDeUsuario">
    <part name="parameters" element="tns:listarTodos_UniversidadesDeUsuario" />
  </message>
  <message name="listarTodos_UniversidadesDeUsuarioResponse">
    <part name="parameters" element="tns:listarTodos_UniversidadesDeUsuarioResponse" />
  </message>
  <message name="listarTodos_AutoresDeLibroPorID">
    <part name="parameters" element="tns:listarTodos_AutoresDeLibroPorID" />
  </message>
  <message name="listarTodos_AutoresDeLibroPorIDResponse">
    <part name="parameters" element="tns:listarTodos_AutoresDeLibroPorIDResponse" />
  </message>
  <message name="listarTodos_AutoresDeTesisPorID">
    <part name="parameters" element="tns:listarTodos_AutoresDeTesisPorID" />
  </message>
  <message name="listarTodos_AutoresDeTesisPorIDResponse">
    <part name="parameters" element="tns:listarTodos_AutoresDeTesisPorIDResponse" />
  </message>
  <message name="eliminarUniversidadesDeUsuario">
    <part name="parameters" element="tns:eliminarUniversidadesDeUsuario" />
  </message>
  <message name="eliminarUniversidadesDeUsuarioResponse">
    <part name="parameters" element="tns:eliminarUniversidadesDeUsuarioResponse" />
  </message>
  <message name="listarTodos_TesisDeAutorPorID">
    <part name="parameters" element="tns:listarTodos_TesisDeAutorPorID" />
  </message>
  <message name="listarTodos_TesisDeAutorPorIDResponse">
    <part name="parameters" element="tns:listarTodos_TesisDeAutorPorIDResponse" />
  </message>
  <message name="listarTodos_TemasDeTesisPorID">
    <part name="parameters" element="tns:listarTodos_TemasDeTesisPorID" />
  </message>
  <message name="listarTodos_TemasDeTesisPorIDResponse">
    <part name="parameters" element="tns:listarTodos_TemasDeTesisPorIDResponse" />
  </message>
  <message name="politicareserva_obtenerPorId">
    <part name="parameters" element="tns:politicareserva_obtenerPorId" />
  </message>
  <message name="politicareserva_obtenerPorIdResponse">
    <part name="parameters" element="tns:politicareserva_obtenerPorIdResponse" />
  </message>
  <message name="listarTodos_LibrosDeAutorPorID">
    <part name="parameters" element="tns:listarTodos_LibrosDeAutorPorID" />
  </message>
  <message name="listarTodos_LibrosDeAutorPorIDResponse">
    <part name="parameters" element="tns:listarTodos_LibrosDeAutorPorIDResponse" />
  </message>
  <message name="politicaprestamo_obtenerPorId">
    <part name="parameters" element="tns:politicaprestamo_obtenerPorId" />
  </message>
  <message name="politicaprestamo_obtenerPorIdResponse">
    <part name="parameters" element="tns:politicaprestamo_obtenerPorIdResponse" />
  </message>
  <message name="ObtenerCopiasEjemplaresDeLibro">
    <part name="parameters" element="tns:ObtenerCopiasEjemplaresDeLibro" />
  </message>
  <message name="ObtenerCopiasEjemplaresDeLibroResponse">
    <part name="parameters" element="tns:ObtenerCopiasEjemplaresDeLibroResponse" />
  </message>
  <message name="listarTodos_TesisDeTemaPorID">
    <part name="parameters" element="tns:listarTodos_TesisDeTemaPorID" />
  </message>
  <message name="listarTodos_TesisDeTemaPorIDResponse">
    <part name="parameters" element="tns:listarTodos_TesisDeTemaPorIDResponse" />
  </message>
  <message name="mostrarBibliotecasDeUniversidadesDelProgramador">
    <part name="parameters" element="tns:mostrarBibliotecasDeUniversidadesDelProgramador" />
  </message>
  <message name="mostrarBibliotecasDeUniversidadesDelProgramadorResponse">
    <part name="parameters" element="tns:mostrarBibliotecasDeUniversidadesDelProgramadorResponse" />
  </message>
  <message name="obtenerPorId_copia_ejemplar">
    <part name="parameters" element="tns:obtenerPorId_copia_ejemplar" />
  </message>
  <message name="obtenerPorId_copia_ejemplarResponse">
    <part name="parameters" element="tns:obtenerPorId_copia_ejemplarResponse" />
  </message>
  <message name="verCatalogo">
    <part name="parameters" element="tns:verCatalogo" />
  </message>
  <message name="verCatalogoResponse">
    <part name="parameters" element="tns:verCatalogoResponse" />
  </message>
  <message name="politica_insertar">
    <part name="parameters" element="tns:politica_insertar" />
  </message>
  <message name="politica_insertarResponse">
    <part name="parameters" element="tns:politica_insertarResponse" />
  </message>
  <message name="insertarAutor">
    <part name="parameters" element="tns:insertarAutor" />
  </message>
  <message name="insertarAutorResponse">
    <part name="parameters" element="tns:insertarAutorResponse" />
  </message>
  <message name="busquedaAvanzada">
    <part name="parameters" element="tns:busquedaAvanzada" />
  </message>
  <message name="busquedaAvanzadaResponse">
    <part name="parameters" element="tns:busquedaAvanzadaResponse" />
  </message>
  <message name="consultarMiembroID">
    <part name="parameters" element="tns:consultarMiembroID" />
  </message>
  <message name="consultarMiembroIDResponse">
    <part name="parameters" element="tns:consultarMiembroIDResponse" />
  </message>
  <message name="mora_insertar">
    <part name="parameters" element="tns:mora_insertar" />
  </message>
  <message name="mora_insertarResponse">
    <part name="parameters" element="tns:mora_insertarResponse" />
  </message>
  <message name="cancelarReserva">
    <part name="parameters" element="tns:cancelarReserva" />
  </message>
  <message name="cancelarReservaResponse">
    <part name="parameters" element="tns:cancelarReservaResponse" />
  </message>
  <message name="solicitarReserva">
    <part name="parameters" element="tns:solicitarReserva" />
  </message>
  <message name="solicitarReservaResponse">
    <part name="parameters" element="tns:solicitarReservaResponse" />
  </message>
  <message name="mora_modificar">
    <part name="parameters" element="tns:mora_modificar" />
  </message>
  <message name="mora_modificarResponse">
    <part name="parameters" element="tns:mora_modificarResponse" />
  </message>
  <message name="mora_obtenerPorId">
    <part name="parameters" element="tns:mora_obtenerPorId" />
  </message>
  <message name="mora_obtenerPorIdResponse">
    <part name="parameters" element="tns:mora_obtenerPorIdResponse" />
  </message>
  <message name="registrarPrestamo">
    <part name="parameters" element="tns:registrarPrestamo" />
  </message>
  <message name="registrarPrestamoResponse">
    <part name="parameters" element="tns:registrarPrestamoResponse" />
  </message>
  <message name="politica_modificar">
    <part name="parameters" element="tns:politica_modificar" />
  </message>
  <message name="politica_modificarResponse">
    <part name="parameters" element="tns:politica_modificarResponse" />
  </message>
  <message name="politica_eliminar">
    <part name="parameters" element="tns:politica_eliminar" />
  </message>
  <message name="politica_eliminarResponse">
    <part name="parameters" element="tns:politica_eliminarResponse" />
  </message>
  <message name="consorcio_insertar">
    <part name="parameters" element="tns:consorcio_insertar" />
  </message>
  <message name="consorcio_insertarResponse">
    <part name="parameters" element="tns:consorcio_insertarResponse" />
  </message>
  <message name="registrarMiembro">
    <part name="parameters" element="tns:registrarMiembro" />
  </message>
  <message name="registrarMiembroResponse">
    <part name="parameters" element="tns:registrarMiembroResponse" />
  </message>
  <message name="consorcio_eliminar">
    <part name="parameters" element="tns:consorcio_eliminar" />
  </message>
  <message name="consorcio_eliminarResponse">
    <part name="parameters" element="tns:consorcio_eliminarResponse" />
  </message>
  <message name="mora_eliminar">
    <part name="parameters" element="tns:mora_eliminar" />
  </message>
  <message name="mora_eliminarResponse">
    <part name="parameters" element="tns:mora_eliminarResponse" />
  </message>
  <message name="mora_listarTodos">
    <part name="parameters" element="tns:mora_listarTodos" />
  </message>
  <message name="mora_listarTodosResponse">
    <part name="parameters" element="tns:mora_listarTodosResponse" />
  </message>
  <message name="confirmarReserva">
    <part name="parameters" element="tns:confirmarReserva" />
  </message>
  <message name="confirmarReservaResponse">
    <part name="parameters" element="tns:confirmarReservaResponse" />
  </message>
  <message name="insertarTema">
    <part name="parameters" element="tns:insertarTema" />
  </message>
  <message name="insertarTemaResponse">
    <part name="parameters" element="tns:insertarTemaResponse" />
  </message>
  <message name="modificarUsuario">
    <part name="parameters" element="tns:modificarUsuario" />
  </message>
  <message name="modificarUsuarioResponse">
    <part name="parameters" element="tns:modificarUsuarioResponse" />
  </message>
  <message name="ParseException">
    <part name="fault" element="tns:ParseException" />
  </message>
  <message name="politica_obtenerPorId">
    <part name="parameters" element="tns:politica_obtenerPorId" />
  </message>
  <message name="politica_obtenerPorIdResponse">
    <part name="parameters" element="tns:politica_obtenerPorIdResponse" />
  </message>
  <message name="confirmarDevolucion">
    <part name="parameters" element="tns:confirmarDevolucion" />
  </message>
  <message name="confirmarDevolucionResponse">
    <part name="parameters" element="tns:confirmarDevolucionResponse" />
  </message>
  <message name="consorcio_modificar">
    <part name="parameters" element="tns:consorcio_modificar" />
  </message>
  <message name="consorcio_modificarResponse">
    <part name="parameters" element="tns:consorcio_modificarResponse" />
  </message>
  <message name="politicaprestamo_insertar">
    <part name="parameters" element="tns:politicaprestamo_insertar" />
  </message>
  <message name="politicaprestamo_insertarResponse">
    <part name="parameters" element="tns:politicaprestamo_insertarResponse" />
  </message>
  <message name="universidad_obtenerPorId">
    <part name="parameters" element="tns:universidad_obtenerPorId" />
  </message>
  <message name="universidad_obtenerPorIdResponse">
    <part name="parameters" element="tns:universidad_obtenerPorIdResponse" />
  </message>
  <message name="biblioteca_modificar">
    <part name="parameters" element="tns:biblioteca_modificar" />
  </message>
  <message name="biblioteca_modificarResponse">
    <part name="parameters" element="tns:biblioteca_modificarResponse" />
  </message>
  <message name="politicareserva_modificar">
    <part name="parameters" element="tns:politicareserva_modificar" />
  </message>
  <message name="politicareserva_modificarResponse">
    <part name="parameters" element="tns:politicareserva_modificarResponse" />
  </message>
  <message name="universidad_eliminar">
    <part name="parameters" element="tns:universidad_eliminar" />
  </message>
  <message name="universidad_eliminarResponse">
    <part name="parameters" element="tns:universidad_eliminarResponse" />
  </message>
  <message name="biblioteca_eliminar">
    <part name="parameters" element="tns:biblioteca_eliminar" />
  </message>
  <message name="biblioteca_eliminarResponse">
    <part name="parameters" element="tns:biblioteca_eliminarResponse" />
  </message>
  <message name="politica_listarTodos">
    <part name="parameters" element="tns:politica_listarTodos" />
  </message>
  <message name="politica_listarTodosResponse">
    <part name="parameters" element="tns:politica_listarTodosResponse" />
  </message>
  <message name="confirmarAmpliacion">
    <part name="parameters" element="tns:confirmarAmpliacion" />
  </message>
  <message name="confirmarAmpliacionResponse">
    <part name="parameters" element="tns:confirmarAmpliacionResponse" />
  </message>
  <message name="politicareserva_eliminar">
    <part name="parameters" element="tns:politicareserva_eliminar" />
  </message>
  <message name="politicareserva_eliminarResponse">
    <part name="parameters" element="tns:politicareserva_eliminarResponse" />
  </message>
  <message name="consorcio_obtenerPorId">
    <part name="parameters" element="tns:consorcio_obtenerPorId" />
  </message>
  <message name="consorcio_obtenerPorIdResponse">
    <part name="parameters" element="tns:consorcio_obtenerPorIdResponse" />
  </message>
  <message name="universidad_insertar">
    <part name="parameters" element="tns:universidad_insertar" />
  </message>
  <message name="universidad_insertarResponse">
    <part name="parameters" element="tns:universidad_insertarResponse" />
  </message>
  <message name="biblioteca_listarTodos">
    <part name="parameters" element="tns:biblioteca_listarTodos" />
  </message>
  <message name="biblioteca_listarTodosResponse">
    <part name="parameters" element="tns:biblioteca_listarTodosResponse" />
  </message>
  <message name="politicaprestamo_eliminar">
    <part name="parameters" element="tns:politicaprestamo_eliminar" />
  </message>
  <message name="politicaprestamo_eliminarResponse">
    <part name="parameters" element="tns:politicaprestamo_eliminarResponse" />
  </message>
  <message name="mostrarReservasEnCurso">
    <part name="parameters" element="tns:mostrarReservasEnCurso" />
  </message>
  <message name="mostrarReservasEnCursoResponse">
    <part name="parameters" element="tns:mostrarReservasEnCursoResponse" />
  </message>
  <message name="politicareserva_insertar">
    <part name="parameters" element="tns:politicareserva_insertar" />
  </message>
  <message name="politicareserva_insertarResponse">
    <part name="parameters" element="tns:politicareserva_insertarResponse" />
  </message>
  <message name="solicitarAmpliacion">
    <part name="parameters" element="tns:solicitarAmpliacion" />
  </message>
  <message name="solicitarAmpliacionResponse">
    <part name="parameters" element="tns:solicitarAmpliacionResponse" />
  </message>
  <message name="mostrarPrestamosEnCurso">
    <part name="parameters" element="tns:mostrarPrestamosEnCurso" />
  </message>
  <message name="mostrarPrestamosEnCursoResponse">
    <part name="parameters" element="tns:mostrarPrestamosEnCursoResponse" />
  </message>
  <message name="mostrarUltimosPrestamos">
    <part name="parameters" element="tns:mostrarUltimosPrestamos" />
  </message>
  <message name="mostrarUltimosPrestamosResponse">
    <part name="parameters" element="tns:mostrarUltimosPrestamosResponse" />
  </message>
  <message name="modificarPublicacionTesis">
    <part name="parameters" element="tns:modificarPublicacionTesis" />
  </message>
  <message name="modificarPublicacionTesisResponse">
    <part name="parameters" element="tns:modificarPublicacionTesisResponse" />
  </message>
  <message name="politicaprestamo_modificar">
    <part name="parameters" element="tns:politicaprestamo_modificar" />
  </message>
  <message name="politicaprestamo_modificarResponse">
    <part name="parameters" element="tns:politicaprestamo_modificarResponse" />
  </message>
  <message name="verPenalizacionesPrestamo">
    <part name="parameters" element="tns:verPenalizacionesPrestamo" />
  </message>
  <message name="verPenalizacionesPrestamoResponse">
    <part name="parameters" element="tns:verPenalizacionesPrestamoResponse" />
  </message>
  <message name="consorcio_listarTodos">
    <part name="parameters" element="tns:consorcio_listarTodos" />
  </message>
  <message name="consorcio_listarTodosResponse">
    <part name="parameters" element="tns:consorcio_listarTodosResponse" />
  </message>
  <message name="biblioteca_insertar">
    <part name="parameters" element="tns:biblioteca_insertar" />
  </message>
  <message name="biblioteca_insertarResponse">
    <part name="parameters" element="tns:biblioteca_insertarResponse" />
  </message>
  <message name="iniciarSesion">
    <part name="parameters" element="tns:iniciarSesion" />
  </message>
  <message name="iniciarSesionResponse">
    <part name="parameters" element="tns:iniciarSesionResponse" />
  </message>
  <message name="universidad_modificar">
    <part name="parameters" element="tns:universidad_modificar" />
  </message>
  <message name="universidad_modificarResponse">
    <part name="parameters" element="tns:universidad_modificarResponse" />
  </message>
  <message name="obtenerPorId_Prestamo">
    <part name="parameters" element="tns:obtenerPorId_Prestamo" />
  </message>
  <message name="obtenerPorId_PrestamoResponse">
    <part name="parameters" element="tns:obtenerPorId_PrestamoResponse" />
  </message>
  <message name="universidad_listarTodos">
    <part name="parameters" element="tns:universidad_listarTodos" />
  </message>
  <message name="universidad_listarTodosResponse">
    <part name="parameters" element="tns:universidad_listarTodosResponse" />
  </message>
  <message name="biblioteca_obtenerPorId">
    <part name="parameters" element="tns:biblioteca_obtenerPorId" />
  </message>
  <message name="biblioteca_obtenerPorIdResponse">
    <part name="parameters" element="tns:biblioteca_obtenerPorIdResponse" />
  </message>
  <message name="usuario_listarTodos">
    <part name="parameters" element="tns:usuario_listarTodos" />
  </message>
  <message name="usuario_listarTodosResponse">
    <part name="parameters" element="tns:usuario_listarTodosResponse" />
  </message>
  <portType name="ServicioWeb">
    <operation name="modificarUniversidadesAsociadasDeUsuario">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/modificarUniversidadesAsociadasDeUsuarioRequest" message="tns:modificarUniversidadesAsociadasDeUsuario" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/modificarUniversidadesAsociadasDeUsuarioResponse" message="tns:modificarUniversidadesAsociadasDeUsuarioResponse" />
    </operation>
    <operation name="listarTodos_UsuariosDeUniversidadPorID">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/listarTodos_UsuariosDeUniversidadPorIDRequest" message="tns:listarTodos_UsuariosDeUniversidadPorID" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/listarTodos_UsuariosDeUniversidadPorIDResponse" message="tns:listarTodos_UsuariosDeUniversidadPorIDResponse" />
    </operation>
    <operation name="consultarPrestamoQueSePrestoCopiaEjemplar">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/consultarPrestamoQueSePrestoCopiaEjemplarRequest" message="tns:consultarPrestamoQueSePrestoCopiaEjemplar" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/consultarPrestamoQueSePrestoCopiaEjemplarResponse" message="tns:consultarPrestamoQueSePrestoCopiaEjemplarResponse" />
    </operation>
    <operation name="listarTodos_UniversidadesDeUsuarioPorID">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/listarTodos_UniversidadesDeUsuarioPorIDRequest" message="tns:listarTodos_UniversidadesDeUsuarioPorID" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/listarTodos_UniversidadesDeUsuarioPorIDResponse" message="tns:listarTodos_UniversidadesDeUsuarioPorIDResponse" />
    </operation>
    <operation name="insertarEditorial">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/insertarEditorialRequest" message="tns:insertarEditorial" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/insertarEditorialResponse" message="tns:insertarEditorialResponse" />
    </operation>
    <operation name="verDetallePublicacionLibro">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/verDetallePublicacionLibroRequest" message="tns:verDetallePublicacionLibro" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/verDetallePublicacionLibroResponse" message="tns:verDetallePublicacionLibroResponse" />
    </operation>
    <operation name="nuevaPublicacionLibro">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/nuevaPublicacionLibroRequest" message="tns:nuevaPublicacionLibro" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/nuevaPublicacionLibroResponse" message="tns:nuevaPublicacionLibroResponse" />
    </operation>
    <operation name="buscarEditorialPorNombre">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/buscarEditorialPorNombreRequest" message="tns:buscarEditorialPorNombre" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/buscarEditorialPorNombreResponse" message="tns:buscarEditorialPorNombreResponse" />
    </operation>
    <operation name="retornarNombreDelSevicio">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/retornarNombreDelSevicioRequest" message="tns:retornarNombreDelSevicio" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/retornarNombreDelSevicioResponse" message="tns:retornarNombreDelSevicioResponse" />
    </operation>
    <operation name="obtenerPorAtributosUnicos">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/obtenerPorAtributosUnicosRequest" message="tns:obtenerPorAtributosUnicos" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/obtenerPorAtributosUnicosResponse" message="tns:obtenerPorAtributosUnicosResponse" />
    </operation>
    <operation name="buscarAutorPorNombre">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/buscarAutorPorNombreRequest" message="tns:buscarAutorPorNombre" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/buscarAutorPorNombreResponse" message="tns:buscarAutorPorNombreResponse" />
    </operation>
    <operation name="listarTodos_AutoresDeLibro">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/listarTodos_AutoresDeLibroRequest" message="tns:listarTodos_AutoresDeLibro" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/listarTodos_AutoresDeLibroResponse" message="tns:listarTodos_AutoresDeLibroResponse" />
    </operation>
    <operation name="consultarCopiaEjemplar">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/consultarCopiaEjemplarRequest" message="tns:consultarCopiaEjemplar" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/consultarCopiaEjemplarResponse" message="tns:consultarCopiaEjemplarResponse" />
    </operation>
    <operation name="buscarTemaPorNombre">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/buscarTemaPorNombreRequest" message="tns:buscarTemaPorNombre" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/buscarTemaPorNombreResponse" message="tns:buscarTemaPorNombreResponse" />
    </operation>
    <operation name="listarTodos_AutoresDeTesis">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/listarTodos_AutoresDeTesisRequest" message="tns:listarTodos_AutoresDeTesis" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/listarTodos_AutoresDeTesisResponse" message="tns:listarTodos_AutoresDeTesisResponse" />
    </operation>
    <operation name="publicacionesPorAutor">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/publicacionesPorAutorRequest" message="tns:publicacionesPorAutor" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/publicacionesPorAutorResponse" message="tns:publicacionesPorAutorResponse" />
    </operation>
    <operation name="verDetallePublicacioTesis">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/verDetallePublicacioTesisRequest" message="tns:verDetallePublicacioTesis" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/verDetallePublicacioTesisResponse" message="tns:verDetallePublicacioTesisResponse" />
    </operation>
    <operation name="modificarPublicacionLibro">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/modificarPublicacionLibroRequest" message="tns:modificarPublicacionLibro" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/modificarPublicacionLibroResponse" message="tns:modificarPublicacionLibroResponse" />
    </operation>
    <operation name="nuevaPublicacionTesis">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/nuevaPublicacionTesisRequest" message="tns:nuevaPublicacionTesis" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/nuevaPublicacionTesisResponse" message="tns:nuevaPublicacionTesisResponse" />
    </operation>
    <operation name="listarTodos_TesisDeAutor">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/listarTodos_TesisDeAutorRequest" message="tns:listarTodos_TesisDeAutor" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/listarTodos_TesisDeAutorResponse" message="tns:listarTodos_TesisDeAutorResponse" />
    </operation>
    <operation name="listarTodos_TemasDeTesis">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/listarTodos_TemasDeTesisRequest" message="tns:listarTodos_TemasDeTesis" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/listarTodos_TemasDeTesisResponse" message="tns:listarTodos_TemasDeTesisResponse" />
    </operation>
    <operation name="listarTodos_TesisDeTema">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/listarTodos_TesisDeTemaRequest" message="tns:listarTodos_TesisDeTema" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/listarTodos_TesisDeTemaResponse" message="tns:listarTodos_TesisDeTemaResponse" />
    </operation>
    <operation name="listarTodos_LibrosDeAutor">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/listarTodos_LibrosDeAutorRequest" message="tns:listarTodos_LibrosDeAutor" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/listarTodos_LibrosDeAutorResponse" message="tns:listarTodos_LibrosDeAutorResponse" />
    </operation>
    <operation name="politicaprestamo_listarTodos">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/politicaprestamo_listarTodosRequest" message="tns:politicaprestamo_listarTodos" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/politicaprestamo_listarTodosResponse" message="tns:politicaprestamo_listarTodosResponse" />
    </operation>
    <operation name="listarTodos_UsuariosDeUniversidad">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/listarTodos_UsuariosDeUniversidadRequest" message="tns:listarTodos_UsuariosDeUniversidad" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/listarTodos_UsuariosDeUniversidadResponse" message="tns:listarTodos_UsuariosDeUniversidadResponse" />
    </operation>
    <operation name="politicareserva_listarTodos">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/politicareserva_listarTodosRequest" message="tns:politicareserva_listarTodos" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/politicareserva_listarTodosResponse" message="tns:politicareserva_listarTodosResponse" />
    </operation>
    <operation name="ObtenerCopiasEjemplaresDeTesis">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/ObtenerCopiasEjemplaresDeTesisRequest" message="tns:ObtenerCopiasEjemplaresDeTesis" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/ObtenerCopiasEjemplaresDeTesisResponse" message="tns:ObtenerCopiasEjemplaresDeTesisResponse" />
    </operation>
    <operation name="consultarCalificacionPrestamo">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/consultarCalificacionPrestamoRequest" message="tns:consultarCalificacionPrestamo" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/consultarCalificacionPrestamoResponse" message="tns:consultarCalificacionPrestamoResponse" />
    </operation>
    <operation name="listarTodos_UniversidadesDeUsuario">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/listarTodos_UniversidadesDeUsuarioRequest" message="tns:listarTodos_UniversidadesDeUsuario" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/listarTodos_UniversidadesDeUsuarioResponse" message="tns:listarTodos_UniversidadesDeUsuarioResponse" />
    </operation>
    <operation name="listarTodos_AutoresDeLibroPorID">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/listarTodos_AutoresDeLibroPorIDRequest" message="tns:listarTodos_AutoresDeLibroPorID" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/listarTodos_AutoresDeLibroPorIDResponse" message="tns:listarTodos_AutoresDeLibroPorIDResponse" />
    </operation>
    <operation name="listarTodos_AutoresDeTesisPorID">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/listarTodos_AutoresDeTesisPorIDRequest" message="tns:listarTodos_AutoresDeTesisPorID" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/listarTodos_AutoresDeTesisPorIDResponse" message="tns:listarTodos_AutoresDeTesisPorIDResponse" />
    </operation>
    <operation name="eliminarUniversidadesDeUsuario">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/eliminarUniversidadesDeUsuarioRequest" message="tns:eliminarUniversidadesDeUsuario" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/eliminarUniversidadesDeUsuarioResponse" message="tns:eliminarUniversidadesDeUsuarioResponse" />
    </operation>
    <operation name="listarTodos_TesisDeAutorPorID">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/listarTodos_TesisDeAutorPorIDRequest" message="tns:listarTodos_TesisDeAutorPorID" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/listarTodos_TesisDeAutorPorIDResponse" message="tns:listarTodos_TesisDeAutorPorIDResponse" />
    </operation>
    <operation name="listarTodos_TemasDeTesisPorID">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/listarTodos_TemasDeTesisPorIDRequest" message="tns:listarTodos_TemasDeTesisPorID" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/listarTodos_TemasDeTesisPorIDResponse" message="tns:listarTodos_TemasDeTesisPorIDResponse" />
    </operation>
    <operation name="politicareserva_obtenerPorId">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/politicareserva_obtenerPorIdRequest" message="tns:politicareserva_obtenerPorId" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/politicareserva_obtenerPorIdResponse" message="tns:politicareserva_obtenerPorIdResponse" />
    </operation>
    <operation name="listarTodos_LibrosDeAutorPorID">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/listarTodos_LibrosDeAutorPorIDRequest" message="tns:listarTodos_LibrosDeAutorPorID" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/listarTodos_LibrosDeAutorPorIDResponse" message="tns:listarTodos_LibrosDeAutorPorIDResponse" />
    </operation>
    <operation name="politicaprestamo_obtenerPorId">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/politicaprestamo_obtenerPorIdRequest" message="tns:politicaprestamo_obtenerPorId" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/politicaprestamo_obtenerPorIdResponse" message="tns:politicaprestamo_obtenerPorIdResponse" />
    </operation>
    <operation name="ObtenerCopiasEjemplaresDeLibro">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/ObtenerCopiasEjemplaresDeLibroRequest" message="tns:ObtenerCopiasEjemplaresDeLibro" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/ObtenerCopiasEjemplaresDeLibroResponse" message="tns:ObtenerCopiasEjemplaresDeLibroResponse" />
    </operation>
    <operation name="listarTodos_TesisDeTemaPorID">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/listarTodos_TesisDeTemaPorIDRequest" message="tns:listarTodos_TesisDeTemaPorID" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/listarTodos_TesisDeTemaPorIDResponse" message="tns:listarTodos_TesisDeTemaPorIDResponse" />
    </operation>
    <operation name="mostrarBibliotecasDeUniversidadesDelProgramador">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/mostrarBibliotecasDeUniversidadesDelProgramadorRequest" message="tns:mostrarBibliotecasDeUniversidadesDelProgramador" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/mostrarBibliotecasDeUniversidadesDelProgramadorResponse" message="tns:mostrarBibliotecasDeUniversidadesDelProgramadorResponse" />
    </operation>
    <operation name="obtenerPorId_copia_ejemplar">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/obtenerPorId_copia_ejemplarRequest" message="tns:obtenerPorId_copia_ejemplar" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/obtenerPorId_copia_ejemplarResponse" message="tns:obtenerPorId_copia_ejemplarResponse" />
    </operation>
    <operation name="verCatalogo">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/verCatalogoRequest" message="tns:verCatalogo" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/verCatalogoResponse" message="tns:verCatalogoResponse" />
    </operation>
    <operation name="politica_insertar">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/politica_insertarRequest" message="tns:politica_insertar" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/politica_insertarResponse" message="tns:politica_insertarResponse" />
    </operation>
    <operation name="insertarAutor">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/insertarAutorRequest" message="tns:insertarAutor" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/insertarAutorResponse" message="tns:insertarAutorResponse" />
    </operation>
    <operation name="busquedaAvanzada">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/busquedaAvanzadaRequest" message="tns:busquedaAvanzada" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/busquedaAvanzadaResponse" message="tns:busquedaAvanzadaResponse" />
    </operation>
    <operation name="consultarMiembroID">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/consultarMiembroIDRequest" message="tns:consultarMiembroID" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/consultarMiembroIDResponse" message="tns:consultarMiembroIDResponse" />
    </operation>
    <operation name="mora_insertar">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/mora_insertarRequest" message="tns:mora_insertar" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/mora_insertarResponse" message="tns:mora_insertarResponse" />
    </operation>
    <operation name="cancelarReserva">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/cancelarReservaRequest" message="tns:cancelarReserva" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/cancelarReservaResponse" message="tns:cancelarReservaResponse" />
    </operation>
    <operation name="solicitarReserva">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/solicitarReservaRequest" message="tns:solicitarReserva" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/solicitarReservaResponse" message="tns:solicitarReservaResponse" />
    </operation>
    <operation name="mora_modificar">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/mora_modificarRequest" message="tns:mora_modificar" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/mora_modificarResponse" message="tns:mora_modificarResponse" />
    </operation>
    <operation name="mora_obtenerPorId">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/mora_obtenerPorIdRequest" message="tns:mora_obtenerPorId" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/mora_obtenerPorIdResponse" message="tns:mora_obtenerPorIdResponse" />
    </operation>
    <operation name="registrarPrestamo">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/registrarPrestamoRequest" message="tns:registrarPrestamo" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/registrarPrestamoResponse" message="tns:registrarPrestamoResponse" />
    </operation>
    <operation name="politica_modificar">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/politica_modificarRequest" message="tns:politica_modificar" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/politica_modificarResponse" message="tns:politica_modificarResponse" />
    </operation>
    <operation name="politica_eliminar">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/politica_eliminarRequest" message="tns:politica_eliminar" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/politica_eliminarResponse" message="tns:politica_eliminarResponse" />
    </operation>
    <operation name="consorcio_insertar">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/consorcio_insertarRequest" message="tns:consorcio_insertar" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/consorcio_insertarResponse" message="tns:consorcio_insertarResponse" />
    </operation>
    <operation name="registrarMiembro">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/registrarMiembroRequest" message="tns:registrarMiembro" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/registrarMiembroResponse" message="tns:registrarMiembroResponse" />
    </operation>
    <operation name="consorcio_eliminar">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/consorcio_eliminarRequest" message="tns:consorcio_eliminar" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/consorcio_eliminarResponse" message="tns:consorcio_eliminarResponse" />
    </operation>
    <operation name="mora_eliminar">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/mora_eliminarRequest" message="tns:mora_eliminar" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/mora_eliminarResponse" message="tns:mora_eliminarResponse" />
    </operation>
    <operation name="mora_listarTodos">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/mora_listarTodosRequest" message="tns:mora_listarTodos" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/mora_listarTodosResponse" message="tns:mora_listarTodosResponse" />
    </operation>
    <operation name="confirmarReserva">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/confirmarReservaRequest" message="tns:confirmarReserva" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/confirmarReservaResponse" message="tns:confirmarReservaResponse" />
    </operation>
    <operation name="insertarTema">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/insertarTemaRequest" message="tns:insertarTema" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/insertarTemaResponse" message="tns:insertarTemaResponse" />
    </operation>
    <operation name="modificarUsuario">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/modificarUsuarioRequest" message="tns:modificarUsuario" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/modificarUsuarioResponse" message="tns:modificarUsuarioResponse" />
      <fault wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/modificarUsuario/Fault/ParseException" name="ParseException" message="tns:ParseException" />
    </operation>
    <operation name="politica_obtenerPorId">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/politica_obtenerPorIdRequest" message="tns:politica_obtenerPorId" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/politica_obtenerPorIdResponse" message="tns:politica_obtenerPorIdResponse" />
    </operation>
    <operation name="confirmarDevolucion">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/confirmarDevolucionRequest" message="tns:confirmarDevolucion" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/confirmarDevolucionResponse" message="tns:confirmarDevolucionResponse" />
    </operation>
    <operation name="consorcio_modificar">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/consorcio_modificarRequest" message="tns:consorcio_modificar" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/consorcio_modificarResponse" message="tns:consorcio_modificarResponse" />
    </operation>
    <operation name="politicaprestamo_insertar">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/politicaprestamo_insertarRequest" message="tns:politicaprestamo_insertar" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/politicaprestamo_insertarResponse" message="tns:politicaprestamo_insertarResponse" />
    </operation>
    <operation name="universidad_obtenerPorId">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/universidad_obtenerPorIdRequest" message="tns:universidad_obtenerPorId" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/universidad_obtenerPorIdResponse" message="tns:universidad_obtenerPorIdResponse" />
    </operation>
    <operation name="biblioteca_modificar">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/biblioteca_modificarRequest" message="tns:biblioteca_modificar" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/biblioteca_modificarResponse" message="tns:biblioteca_modificarResponse" />
    </operation>
    <operation name="politicareserva_modificar">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/politicareserva_modificarRequest" message="tns:politicareserva_modificar" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/politicareserva_modificarResponse" message="tns:politicareserva_modificarResponse" />
    </operation>
    <operation name="universidad_eliminar">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/universidad_eliminarRequest" message="tns:universidad_eliminar" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/universidad_eliminarResponse" message="tns:universidad_eliminarResponse" />
    </operation>
    <operation name="biblioteca_eliminar">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/biblioteca_eliminarRequest" message="tns:biblioteca_eliminar" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/biblioteca_eliminarResponse" message="tns:biblioteca_eliminarResponse" />
    </operation>
    <operation name="politica_listarTodos">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/politica_listarTodosRequest" message="tns:politica_listarTodos" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/politica_listarTodosResponse" message="tns:politica_listarTodosResponse" />
    </operation>
    <operation name="confirmarAmpliacion">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/confirmarAmpliacionRequest" message="tns:confirmarAmpliacion" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/confirmarAmpliacionResponse" message="tns:confirmarAmpliacionResponse" />
    </operation>
    <operation name="politicareserva_eliminar">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/politicareserva_eliminarRequest" message="tns:politicareserva_eliminar" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/politicareserva_eliminarResponse" message="tns:politicareserva_eliminarResponse" />
    </operation>
    <operation name="consorcio_obtenerPorId">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/consorcio_obtenerPorIdRequest" message="tns:consorcio_obtenerPorId" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/consorcio_obtenerPorIdResponse" message="tns:consorcio_obtenerPorIdResponse" />
    </operation>
    <operation name="universidad_insertar">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/universidad_insertarRequest" message="tns:universidad_insertar" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/universidad_insertarResponse" message="tns:universidad_insertarResponse" />
    </operation>
    <operation name="biblioteca_listarTodos">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/biblioteca_listarTodosRequest" message="tns:biblioteca_listarTodos" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/biblioteca_listarTodosResponse" message="tns:biblioteca_listarTodosResponse" />
    </operation>
    <operation name="politicaprestamo_eliminar">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/politicaprestamo_eliminarRequest" message="tns:politicaprestamo_eliminar" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/politicaprestamo_eliminarResponse" message="tns:politicaprestamo_eliminarResponse" />
    </operation>
    <operation name="mostrarReservasEnCurso">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/mostrarReservasEnCursoRequest" message="tns:mostrarReservasEnCurso" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/mostrarReservasEnCursoResponse" message="tns:mostrarReservasEnCursoResponse" />
    </operation>
    <operation name="politicareserva_insertar">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/politicareserva_insertarRequest" message="tns:politicareserva_insertar" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/politicareserva_insertarResponse" message="tns:politicareserva_insertarResponse" />
    </operation>
    <operation name="solicitarAmpliacion">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/solicitarAmpliacionRequest" message="tns:solicitarAmpliacion" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/solicitarAmpliacionResponse" message="tns:solicitarAmpliacionResponse" />
    </operation>
    <operation name="mostrarPrestamosEnCurso">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/mostrarPrestamosEnCursoRequest" message="tns:mostrarPrestamosEnCurso" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/mostrarPrestamosEnCursoResponse" message="tns:mostrarPrestamosEnCursoResponse" />
    </operation>
    <operation name="mostrarUltimosPrestamos">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/mostrarUltimosPrestamosRequest" message="tns:mostrarUltimosPrestamos" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/mostrarUltimosPrestamosResponse" message="tns:mostrarUltimosPrestamosResponse" />
    </operation>
    <operation name="modificarPublicacionTesis">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/modificarPublicacionTesisRequest" message="tns:modificarPublicacionTesis" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/modificarPublicacionTesisResponse" message="tns:modificarPublicacionTesisResponse" />
    </operation>
    <operation name="politicaprestamo_modificar">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/politicaprestamo_modificarRequest" message="tns:politicaprestamo_modificar" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/politicaprestamo_modificarResponse" message="tns:politicaprestamo_modificarResponse" />
    </operation>
    <operation name="verPenalizacionesPrestamo">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/verPenalizacionesPrestamoRequest" message="tns:verPenalizacionesPrestamo" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/verPenalizacionesPrestamoResponse" message="tns:verPenalizacionesPrestamoResponse" />
    </operation>
    <operation name="consorcio_listarTodos">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/consorcio_listarTodosRequest" message="tns:consorcio_listarTodos" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/consorcio_listarTodosResponse" message="tns:consorcio_listarTodosResponse" />
    </operation>
    <operation name="biblioteca_insertar">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/biblioteca_insertarRequest" message="tns:biblioteca_insertar" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/biblioteca_insertarResponse" message="tns:biblioteca_insertarResponse" />
    </operation>
    <operation name="iniciarSesion">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/iniciarSesionRequest" message="tns:iniciarSesion" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/iniciarSesionResponse" message="tns:iniciarSesionResponse" />
    </operation>
    <operation name="universidad_modificar">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/universidad_modificarRequest" message="tns:universidad_modificar" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/universidad_modificarResponse" message="tns:universidad_modificarResponse" />
    </operation>
    <operation name="obtenerPorId_Prestamo">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/obtenerPorId_PrestamoRequest" message="tns:obtenerPorId_Prestamo" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/obtenerPorId_PrestamoResponse" message="tns:obtenerPorId_PrestamoResponse" />
    </operation>
    <operation name="universidad_listarTodos">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/universidad_listarTodosRequest" message="tns:universidad_listarTodos" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/universidad_listarTodosResponse" message="tns:universidad_listarTodosResponse" />
    </operation>
    <operation name="biblioteca_obtenerPorId">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/biblioteca_obtenerPorIdRequest" message="tns:biblioteca_obtenerPorId" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/biblioteca_obtenerPorIdResponse" message="tns:biblioteca_obtenerPorIdResponse" />
    </operation>
    <operation name="usuario_listarTodos">
      <input wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/usuario_listarTodosRequest" message="tns:usuario_listarTodos" />
      <output wsam:Action="http://servicios.softbiblioteca.pucp.edu.pe/ServicioWeb/usuario_listarTodosResponse" message="tns:usuario_listarTodosResponse" />
    </operation>
  </portType>
  <binding name="ServicioWebPortBinding" type="tns:ServicioWeb">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="modificarUniversidadesAsociadasDeUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodos_UsuariosDeUniversidadPorID">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="consultarPrestamoQueSePrestoCopiaEjemplar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodos_UniversidadesDeUsuarioPorID">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarEditorial">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="verDetallePublicacionLibro">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="nuevaPublicacionLibro">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarEditorialPorNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="retornarNombreDelSevicio">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorAtributosUnicos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarAutorPorNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodos_AutoresDeLibro">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="consultarCopiaEjemplar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarTemaPorNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodos_AutoresDeTesis">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="publicacionesPorAutor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="verDetallePublicacioTesis">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarPublicacionLibro">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="nuevaPublicacionTesis">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodos_TesisDeAutor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodos_TemasDeTesis">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodos_TesisDeTema">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodos_LibrosDeAutor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="politicaprestamo_listarTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodos_UsuariosDeUniversidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="politicareserva_listarTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ObtenerCopiasEjemplaresDeTesis">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="consultarCalificacionPrestamo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodos_UniversidadesDeUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodos_AutoresDeLibroPorID">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodos_AutoresDeTesisPorID">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarUniversidadesDeUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodos_TesisDeAutorPorID">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodos_TemasDeTesisPorID">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="politicareserva_obtenerPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodos_LibrosDeAutorPorID">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="politicaprestamo_obtenerPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ObtenerCopiasEjemplaresDeLibro">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodos_TesisDeTemaPorID">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="mostrarBibliotecasDeUniversidadesDelProgramador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorId_copia_ejemplar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="verCatalogo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="politica_insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarAutor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="busquedaAvanzada">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="consultarMiembroID">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="mora_insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cancelarReserva">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="solicitarReserva">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="mora_modificar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="mora_obtenerPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="registrarPrestamo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="politica_modificar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="politica_eliminar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="consorcio_insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="registrarMiembro">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="consorcio_eliminar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="mora_eliminar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="mora_listarTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="confirmarReserva">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarTema">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ParseException">
        <soap:fault use="literal" name="ParseException" namespace="" />
      </fault>
    </operation>
    <operation name="politica_obtenerPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="confirmarDevolucion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="consorcio_modificar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="politicaprestamo_insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="universidad_obtenerPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="biblioteca_modificar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="politicareserva_modificar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="universidad_eliminar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="biblioteca_eliminar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="politica_listarTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="confirmarAmpliacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="politicareserva_eliminar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="consorcio_obtenerPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="universidad_insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="biblioteca_listarTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="politicaprestamo_eliminar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="mostrarReservasEnCurso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="politicareserva_insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="solicitarAmpliacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="mostrarPrestamosEnCurso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="mostrarUltimosPrestamos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarPublicacionTesis">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="politicaprestamo_modificar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="verPenalizacionesPrestamo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="consorcio_listarTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="biblioteca_insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="iniciarSesion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="universidad_modificar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorId_Prestamo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="universidad_listarTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="biblioteca_obtenerPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="usuario_listarTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ServicioWeb">
    <port name="ServicioWebPort" binding="tns:ServicioWebPortBinding">
      <soap:address location="http://localhost:8080/SoftBibliotecaWS_Servidor/ServicioWeb" />
    </port>
  </service>
</definitions>