Projects/_PrestaSoft/PrestaSoft/frontend/SoftBibliotecaWA/SoftBibliotecaBO/Connected Services/ServicioWeb/ServicioWeb1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://servicios.softbiblioteca.pucp.edu.pe/" targetNamespace="http://servicios.softbiblioteca.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ObtenerCopiasEjemplaresDeLibro" type="tns:ObtenerCopiasEjemplaresDeLibro" />
  <xs:element name="ObtenerCopiasEjemplaresDeLibroResponse" type="tns:ObtenerCopiasEjemplaresDeLibroResponse" />
  <xs:element name="ObtenerCopiasEjemplaresDeTesis" type="tns:ObtenerCopiasEjemplaresDeTesis" />
  <xs:element name="ObtenerCopiasEjemplaresDeTesisResponse" type="tns:ObtenerCopiasEjemplaresDeTesisResponse" />
  <xs:element name="ParseException" type="tns:ParseException" />
  <xs:element name="biblioteca_eliminar" type="tns:biblioteca_eliminar" />
  <xs:element name="biblioteca_eliminarResponse" type="tns:biblioteca_eliminarResponse" />
  <xs:element name="biblioteca_insertar" type="tns:biblioteca_insertar" />
  <xs:element name="biblioteca_insertarResponse" type="tns:biblioteca_insertarResponse" />
  <xs:element name="biblioteca_listarTodos" type="tns:biblioteca_listarTodos" />
  <xs:element name="biblioteca_listarTodosResponse" type="tns:biblioteca_listarTodosResponse" />
  <xs:element name="biblioteca_modificar" type="tns:biblioteca_modificar" />
  <xs:element name="biblioteca_modificarResponse" type="tns:biblioteca_modificarResponse" />
  <xs:element name="biblioteca_obtenerPorId" type="tns:biblioteca_obtenerPorId" />
  <xs:element name="biblioteca_obtenerPorIdResponse" type="tns:biblioteca_obtenerPorIdResponse" />
  <xs:element name="buscarAutorPorNombre" type="tns:buscarAutorPorNombre" />
  <xs:element name="buscarAutorPorNombreResponse" type="tns:buscarAutorPorNombreResponse" />
  <xs:element name="buscarEditorialPorNombre" type="tns:buscarEditorialPorNombre" />
  <xs:element name="buscarEditorialPorNombreResponse" type="tns:buscarEditorialPorNombreResponse" />
  <xs:element name="buscarTemaPorNombre" type="tns:buscarTemaPorNombre" />
  <xs:element name="buscarTemaPorNombreResponse" type="tns:buscarTemaPorNombreResponse" />
  <xs:element name="busquedaAvanzada" type="tns:busquedaAvanzada" />
  <xs:element name="busquedaAvanzadaResponse" type="tns:busquedaAvanzadaResponse" />
  <xs:element name="cancelarReserva" type="tns:cancelarReserva" />
  <xs:element name="cancelarReservaResponse" type="tns:cancelarReservaResponse" />
  <xs:element name="confirmarAmpliacion" type="tns:confirmarAmpliacion" />
  <xs:element name="confirmarAmpliacionResponse" type="tns:confirmarAmpliacionResponse" />
  <xs:element name="confirmarDevolucion" type="tns:confirmarDevolucion" />
  <xs:element name="confirmarDevolucionResponse" type="tns:confirmarDevolucionResponse" />
  <xs:element name="confirmarReserva" type="tns:confirmarReserva" />
  <xs:element name="confirmarReservaResponse" type="tns:confirmarReservaResponse" />
  <xs:element name="consorcio_eliminar" type="tns:consorcio_eliminar" />
  <xs:element name="consorcio_eliminarResponse" type="tns:consorcio_eliminarResponse" />
  <xs:element name="consorcio_insertar" type="tns:consorcio_insertar" />
  <xs:element name="consorcio_insertarResponse" type="tns:consorcio_insertarResponse" />
  <xs:element name="consorcio_listarTodos" type="tns:consorcio_listarTodos" />
  <xs:element name="consorcio_listarTodosResponse" type="tns:consorcio_listarTodosResponse" />
  <xs:element name="consorcio_modificar" type="tns:consorcio_modificar" />
  <xs:element name="consorcio_modificarResponse" type="tns:consorcio_modificarResponse" />
  <xs:element name="consorcio_obtenerPorId" type="tns:consorcio_obtenerPorId" />
  <xs:element name="consorcio_obtenerPorIdResponse" type="tns:consorcio_obtenerPorIdResponse" />
  <xs:element name="consultarCalificacionPrestamo" type="tns:consultarCalificacionPrestamo" />
  <xs:element name="consultarCalificacionPrestamoResponse" type="tns:consultarCalificacionPrestamoResponse" />
  <xs:element name="consultarCopiaEjemplar" type="tns:consultarCopiaEjemplar" />
  <xs:element name="consultarCopiaEjemplarResponse" type="tns:consultarCopiaEjemplarResponse" />
  <xs:element name="consultarMiembroID" type="tns:consultarMiembroID" />
  <xs:element name="consultarMiembroIDResponse" type="tns:consultarMiembroIDResponse" />
  <xs:element name="consultarPrestamoQueSePrestoCopiaEjemplar" type="tns:consultarPrestamoQueSePrestoCopiaEjemplar" />
  <xs:element name="consultarPrestamoQueSePrestoCopiaEjemplarResponse" type="tns:consultarPrestamoQueSePrestoCopiaEjemplarResponse" />
  <xs:element name="eliminarUniversidadesDeUsuario" type="tns:eliminarUniversidadesDeUsuario" />
  <xs:element name="eliminarUniversidadesDeUsuarioResponse" type="tns:eliminarUniversidadesDeUsuarioResponse" />
  <xs:element name="iniciarSesion" type="tns:iniciarSesion" />
  <xs:element name="iniciarSesionResponse" type="tns:iniciarSesionResponse" />
  <xs:element name="insertarAutor" type="tns:insertarAutor" />
  <xs:element name="insertarAutorResponse" type="tns:insertarAutorResponse" />
  <xs:element name="insertarEditorial" type="tns:insertarEditorial" />
  <xs:element name="insertarEditorialResponse" type="tns:insertarEditorialResponse" />
  <xs:element name="insertarTema" type="tns:insertarTema" />
  <xs:element name="insertarTemaResponse" type="tns:insertarTemaResponse" />
  <xs:element name="listarTodos_AutoresDeLibro" type="tns:listarTodos_AutoresDeLibro" />
  <xs:element name="listarTodos_AutoresDeLibroPorID" type="tns:listarTodos_AutoresDeLibroPorID" />
  <xs:element name="listarTodos_AutoresDeLibroPorIDResponse" type="tns:listarTodos_AutoresDeLibroPorIDResponse" />
  <xs:element name="listarTodos_AutoresDeLibroResponse" type="tns:listarTodos_AutoresDeLibroResponse" />
  <xs:element name="listarTodos_AutoresDeTesis" type="tns:listarTodos_AutoresDeTesis" />
  <xs:element name="listarTodos_AutoresDeTesisPorID" type="tns:listarTodos_AutoresDeTesisPorID" />
  <xs:element name="listarTodos_AutoresDeTesisPorIDResponse" type="tns:listarTodos_AutoresDeTesisPorIDResponse" />
  <xs:element name="listarTodos_AutoresDeTesisResponse" type="tns:listarTodos_AutoresDeTesisResponse" />
  <xs:element name="listarTodos_LibrosDeAutor" type="tns:listarTodos_LibrosDeAutor" />
  <xs:element name="listarTodos_LibrosDeAutorPorID" type="tns:listarTodos_LibrosDeAutorPorID" />
  <xs:element name="listarTodos_LibrosDeAutorPorIDResponse" type="tns:listarTodos_LibrosDeAutorPorIDResponse" />
  <xs:element name="listarTodos_LibrosDeAutorResponse" type="tns:listarTodos_LibrosDeAutorResponse" />
  <xs:element name="listarTodos_TemasDeTesis" type="tns:listarTodos_TemasDeTesis" />
  <xs:element name="listarTodos_TemasDeTesisPorID" type="tns:listarTodos_TemasDeTesisPorID" />
  <xs:element name="listarTodos_TemasDeTesisPorIDResponse" type="tns:listarTodos_TemasDeTesisPorIDResponse" />
  <xs:element name="listarTodos_TemasDeTesisResponse" type="tns:listarTodos_TemasDeTesisResponse" />
  <xs:element name="listarTodos_TesisDeAutor" type="tns:listarTodos_TesisDeAutor" />
  <xs:element name="listarTodos_TesisDeAutorPorID" type="tns:listarTodos_TesisDeAutorPorID" />
  <xs:element name="listarTodos_TesisDeAutorPorIDResponse" type="tns:listarTodos_TesisDeAutorPorIDResponse" />
  <xs:element name="listarTodos_TesisDeAutorResponse" type="tns:listarTodos_TesisDeAutorResponse" />
  <xs:element name="listarTodos_TesisDeTema" type="tns:listarTodos_TesisDeTema" />
  <xs:element name="listarTodos_TesisDeTemaPorID" type="tns:listarTodos_TesisDeTemaPorID" />
  <xs:element name="listarTodos_TesisDeTemaPorIDResponse" type="tns:listarTodos_TesisDeTemaPorIDResponse" />
  <xs:element name="listarTodos_TesisDeTemaResponse" type="tns:listarTodos_TesisDeTemaResponse" />
  <xs:element name="listarTodos_UniversidadesDeUsuario" type="tns:listarTodos_UniversidadesDeUsuario" />
  <xs:element name="listarTodos_UniversidadesDeUsuarioPorID" type="tns:listarTodos_UniversidadesDeUsuarioPorID" />
  <xs:element name="listarTodos_UniversidadesDeUsuarioPorIDResponse" type="tns:listarTodos_UniversidadesDeUsuarioPorIDResponse" />
  <xs:element name="listarTodos_UniversidadesDeUsuarioResponse" type="tns:listarTodos_UniversidadesDeUsuarioResponse" />
  <xs:element name="listarTodos_UsuariosDeUniversidad" type="tns:listarTodos_UsuariosDeUniversidad" />
  <xs:element name="listarTodos_UsuariosDeUniversidadPorID" type="tns:listarTodos_UsuariosDeUniversidadPorID" />
  <xs:element name="listarTodos_UsuariosDeUniversidadPorIDResponse" type="tns:listarTodos_UsuariosDeUniversidadPorIDResponse" />
  <xs:element name="listarTodos_UsuariosDeUniversidadResponse" type="tns:listarTodos_UsuariosDeUniversidadResponse" />
  <xs:element name="modificarPublicacionLibro" type="tns:modificarPublicacionLibro" />
  <xs:element name="modificarPublicacionLibroResponse" type="tns:modificarPublicacionLibroResponse" />
  <xs:element name="modificarPublicacionTesis" type="tns:modificarPublicacionTesis" />
  <xs:element name="modificarPublicacionTesisResponse" type="tns:modificarPublicacionTesisResponse" />
  <xs:element name="modificarUniversidadesAsociadasDeUsuario" type="tns:modificarUniversidadesAsociadasDeUsuario" />
  <xs:element name="modificarUniversidadesAsociadasDeUsuarioResponse" type="tns:modificarUniversidadesAsociadasDeUsuarioResponse" />
  <xs:element name="modificarUsuario" type="tns:modificarUsuario" />
  <xs:element name="modificarUsuarioResponse" type="tns:modificarUsuarioResponse" />
  <xs:element name="mora_eliminar" type="tns:mora_eliminar" />
  <xs:element name="mora_eliminarResponse" type="tns:mora_eliminarResponse" />
  <xs:element name="mora_insertar" type="tns:mora_insertar" />
  <xs:element name="mora_insertarResponse" type="tns:mora_insertarResponse" />
  <xs:element name="mora_listarTodos" type="tns:mora_listarTodos" />
  <xs:element name="mora_listarTodosResponse" type="tns:mora_listarTodosResponse" />
  <xs:element name="mora_modificar" type="tns:mora_modificar" />
  <xs:element name="mora_modificarResponse" type="tns:mora_modificarResponse" />
  <xs:element name="mora_obtenerPorId" type="tns:mora_obtenerPorId" />
  <xs:element name="mora_obtenerPorIdResponse" type="tns:mora_obtenerPorIdResponse" />
  <xs:element name="mostrarBibliotecasDeUniversidadesDelProgramador" type="tns:mostrarBibliotecasDeUniversidadesDelProgramador" />
  <xs:element name="mostrarBibliotecasDeUniversidadesDelProgramadorResponse" type="tns:mostrarBibliotecasDeUniversidadesDelProgramadorResponse" />
  <xs:element name="mostrarPrestamosEnCurso" type="tns:mostrarPrestamosEnCurso" />
  <xs:element name="mostrarPrestamosEnCursoResponse" type="tns:mostrarPrestamosEnCursoResponse" />
  <xs:element name="mostrarReservasEnCurso" type="tns:mostrarReservasEnCurso" />
  <xs:element name="mostrarReservasEnCursoResponse" type="tns:mostrarReservasEnCursoResponse" />
  <xs:element name="mostrarUltimosPrestamos" type="tns:mostrarUltimosPrestamos" />
  <xs:element name="mostrarUltimosPrestamosResponse" type="tns:mostrarUltimosPrestamosResponse" />
  <xs:element name="nuevaPublicacionLibro" type="tns:nuevaPublicacionLibro" />
  <xs:element name="nuevaPublicacionLibroResponse" type="tns:nuevaPublicacionLibroResponse" />
  <xs:element name="nuevaPublicacionTesis" type="tns:nuevaPublicacionTesis" />
  <xs:element name="nuevaPublicacionTesisResponse" type="tns:nuevaPublicacionTesisResponse" />
  <xs:element name="obtenerPorAtributosUnicos" type="tns:obtenerPorAtributosUnicos" />
  <xs:element name="obtenerPorAtributosUnicosResponse" type="tns:obtenerPorAtributosUnicosResponse" />
  <xs:element name="obtenerPorId_Prestamo" type="tns:obtenerPorId_Prestamo" />
  <xs:element name="obtenerPorId_PrestamoResponse" type="tns:obtenerPorId_PrestamoResponse" />
  <xs:element name="obtenerPorId_copia_ejemplar" type="tns:obtenerPorId_copia_ejemplar" />
  <xs:element name="obtenerPorId_copia_ejemplarResponse" type="tns:obtenerPorId_copia_ejemplarResponse" />
  <xs:element name="politica_eliminar" type="tns:politica_eliminar" />
  <xs:element name="politica_eliminarResponse" type="tns:politica_eliminarResponse" />
  <xs:element name="politica_insertar" type="tns:politica_insertar" />
  <xs:element name="politica_insertarResponse" type="tns:politica_insertarResponse" />
  <xs:element name="politica_listarTodos" type="tns:politica_listarTodos" />
  <xs:element name="politica_listarTodosResponse" type="tns:politica_listarTodosResponse" />
  <xs:element name="politica_modificar" type="tns:politica_modificar" />
  <xs:element name="politica_modificarResponse" type="tns:politica_modificarResponse" />
  <xs:element name="politica_obtenerPorId" type="tns:politica_obtenerPorId" />
  <xs:element name="politica_obtenerPorIdResponse" type="tns:politica_obtenerPorIdResponse" />
  <xs:element name="politicaprestamo_eliminar" type="tns:politicaprestamo_eliminar" />
  <xs:element name="politicaprestamo_eliminarResponse" type="tns:politicaprestamo_eliminarResponse" />
  <xs:element name="politicaprestamo_insertar" type="tns:politicaprestamo_insertar" />
  <xs:element name="politicaprestamo_insertarResponse" type="tns:politicaprestamo_insertarResponse" />
  <xs:element name="politicaprestamo_listarTodos" type="tns:politicaprestamo_listarTodos" />
  <xs:element name="politicaprestamo_listarTodosResponse" type="tns:politicaprestamo_listarTodosResponse" />
  <xs:element name="politicaprestamo_modificar" type="tns:politicaprestamo_modificar" />
  <xs:element name="politicaprestamo_modificarResponse" type="tns:politicaprestamo_modificarResponse" />
  <xs:element name="politicaprestamo_obtenerPorId" type="tns:politicaprestamo_obtenerPorId" />
  <xs:element name="politicaprestamo_obtenerPorIdResponse" type="tns:politicaprestamo_obtenerPorIdResponse" />
  <xs:element name="politicareserva_eliminar" type="tns:politicareserva_eliminar" />
  <xs:element name="politicareserva_eliminarResponse" type="tns:politicareserva_eliminarResponse" />
  <xs:element name="politicareserva_insertar" type="tns:politicareserva_insertar" />
  <xs:element name="politicareserva_insertarResponse" type="tns:politicareserva_insertarResponse" />
  <xs:element name="politicareserva_listarTodos" type="tns:politicareserva_listarTodos" />
  <xs:element name="politicareserva_listarTodosResponse" type="tns:politicareserva_listarTodosResponse" />
  <xs:element name="politicareserva_modificar" type="tns:politicareserva_modificar" />
  <xs:element name="politicareserva_modificarResponse" type="tns:politicareserva_modificarResponse" />
  <xs:element name="politicareserva_obtenerPorId" type="tns:politicareserva_obtenerPorId" />
  <xs:element name="politicareserva_obtenerPorIdResponse" type="tns:politicareserva_obtenerPorIdResponse" />
  <xs:element name="publicacionesPorAutor" type="tns:publicacionesPorAutor" />
  <xs:element name="publicacionesPorAutorResponse" type="tns:publicacionesPorAutorResponse" />
  <xs:element name="registrarMiembro" type="tns:registrarMiembro" />
  <xs:element name="registrarMiembroResponse" type="tns:registrarMiembroResponse" />
  <xs:element name="registrarPrestamo" type="tns:registrarPrestamo" />
  <xs:element name="registrarPrestamoResponse" type="tns:registrarPrestamoResponse" />
  <xs:element name="retornarNombreDelSevicio" type="tns:retornarNombreDelSevicio" />
  <xs:element name="retornarNombreDelSevicioResponse" type="tns:retornarNombreDelSevicioResponse" />
  <xs:element name="solicitarAmpliacion" type="tns:solicitarAmpliacion" />
  <xs:element name="solicitarAmpliacionResponse" type="tns:solicitarAmpliacionResponse" />
  <xs:element name="solicitarReserva" type="tns:solicitarReserva" />
  <xs:element name="solicitarReservaResponse" type="tns:solicitarReservaResponse" />
  <xs:element name="universidad_eliminar" type="tns:universidad_eliminar" />
  <xs:element name="universidad_eliminarResponse" type="tns:universidad_eliminarResponse" />
  <xs:element name="universidad_insertar" type="tns:universidad_insertar" />
  <xs:element name="universidad_insertarResponse" type="tns:universidad_insertarResponse" />
  <xs:element name="universidad_listarTodos" type="tns:universidad_listarTodos" />
  <xs:element name="universidad_listarTodosResponse" type="tns:universidad_listarTodosResponse" />
  <xs:element name="universidad_modificar" type="tns:universidad_modificar" />
  <xs:element name="universidad_modificarResponse" type="tns:universidad_modificarResponse" />
  <xs:element name="universidad_obtenerPorId" type="tns:universidad_obtenerPorId" />
  <xs:element name="universidad_obtenerPorIdResponse" type="tns:universidad_obtenerPorIdResponse" />
  <xs:element name="usuario_listarTodos" type="tns:usuario_listarTodos" />
  <xs:element name="usuario_listarTodosResponse" type="tns:usuario_listarTodosResponse" />
  <xs:element name="verCatalogo" type="tns:verCatalogo" />
  <xs:element name="verCatalogoResponse" type="tns:verCatalogoResponse" />
  <xs:element name="verDetallePublicacioTesis" type="tns:verDetallePublicacioTesis" />
  <xs:element name="verDetallePublicacioTesisResponse" type="tns:verDetallePublicacioTesisResponse" />
  <xs:element name="verDetallePublicacionLibro" type="tns:verDetallePublicacionLibro" />
  <xs:element name="verDetallePublicacionLibroResponse" type="tns:verDetallePublicacionLibroResponse" />
  <xs:element name="verPenalizacionesPrestamo" type="tns:verPenalizacionesPrestamo" />
  <xs:element name="verPenalizacionesPrestamoResponse" type="tns:verPenalizacionesPrestamoResponse" />
  <xs:complexType name="consorcio_obtenerPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idConsorcio" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consorcio_obtenerPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:consorcio" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consorcio">
    <xs:sequence>
      <xs:element minOccurs="0" name="CIF" type="xs:string" />
      <xs:element minOccurs="0" name="idConsorcio" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verDetallePublicacionLibro">
    <xs:sequence>
      <xs:element minOccurs="0" name="idLibro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verDetallePublicacionLibroResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:libro" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="libro">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:publicacion">
        <xs:sequence>
          <xs:element minOccurs="0" name="editorial" type="tns:editorial" />
          <xs:element minOccurs="0" name="genero" type="xs:string" />
          <xs:element minOccurs="0" name="ISBN" type="xs:int" />
          <xs:element minOccurs="0" name="idLibro" type="xs:int" />
          <xs:element minOccurs="0" name="materia" type="xs:string" />
          <xs:element minOccurs="0" name="tipo" type="tns:tipoLibro" />
          <xs:element minOccurs="0" name="tomo" type="xs:int" />
          <xs:element minOccurs="0" name="volumen" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="publicacion" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="bibliotecaAsociada" type="tns:biblioteca" />
      <xs:element minOccurs="0" name="copiasDisponibles" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaPublicacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="hayFormatoFisico" type="xs:boolean" />
      <xs:element minOccurs="0" name="hayFormatoVirtual" type="xs:boolean" />
      <xs:element minOccurs="0" name="idPublicacion" type="xs:int" />
      <xs:element minOccurs="0" name="portada" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element minOccurs="0" name="url" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editorial">
    <xs:sequence>
      <xs:element minOccurs="0" name="idEditorial" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="biblioteca">
    <xs:sequence>
      <xs:element minOccurs="0" name="idBiblioteca" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
      <xs:element minOccurs="0" name="universidadAsociada" type="tns:universidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="universidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="consorcioPerteneciente" type="tns:consorcio" />
      <xs:element minOccurs="0" name="correoPersonalAdministrativo" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="extensionDominioCorreo" type="xs:string" />
      <xs:element minOccurs="0" name="idUniversidad" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="politicaRegular" type="tns:politica" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="politica">
    <xs:sequence>
      <xs:element minOccurs="0" name="etiqueta" type="xs:string" />
      <xs:element minOccurs="0" name="idPolitica" type="xs:int" />
      <xs:element minOccurs="0" name="politicasPorPrestamo" type="tns:politicaPrestamo" />
      <xs:element minOccurs="0" name="politicasPorReserva" type="tns:politicaReserva" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="politicaPrestamo">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantDiasDeAmpliacionRegular" type="xs:int" />
      <xs:element minOccurs="0" name="cantDiasParaDarPorPerdidaUnaCopia" type="xs:int" />
      <xs:element minOccurs="0" name="cantDiasPrestamoRegular" type="xs:int" />
      <xs:element minOccurs="0" name="cantDiasSinPrestamoPorAtraso" type="xs:int" />
      <xs:element minOccurs="0" name="cantDiasSinPrestamoPorMalEstado" type="xs:int" />
      <xs:element minOccurs="0" name="cantDiasSinPrestamoPorPerdido" type="xs:int" />
      <xs:element minOccurs="0" name="cantMaxAmpliacionesPermitidasPorPrestamo" type="xs:int" />
      <xs:element minOccurs="0" name="cantMaxAtrasosPorCiclo" type="xs:int" />
      <xs:element minOccurs="0" name="cantMaxCopiasPorDevolverPorUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="cantMaxMalEstadoPorCiclo" type="xs:int" />
      <xs:element minOccurs="0" name="cantMaxPerdidasPorCiclo" type="xs:int" />
      <xs:element minOccurs="0" name="cargoPorMalEstado" type="xs:float" />
      <xs:element minOccurs="0" name="cargoPorPerdido" type="xs:float" />
      <xs:element minOccurs="0" name="idPoliticaPrestamo" type="xs:int" />
      <xs:element minOccurs="0" name="moraAsociada" type="tns:mora" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mora">
    <xs:sequence>
      <xs:element minOccurs="0" name="idMora" type="xs:int" />
      <xs:element minOccurs="0" name="monto" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="politicaReserva">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantMaxHorasDeRecojo" type="xs:int" />
      <xs:element minOccurs="0" name="cantMaxReservasAgendadasPorUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="idPoliticaReserva" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consorcio_eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idConsorcio" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consorcio_eliminarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodos_AutoresDeLibro">
    <xs:sequence>
      <xs:element minOccurs="0" name="idLibro" type="xs:int" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element minOccurs="0" name="fechaPublicacion" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="hayFormatoFisico" type="xs:int" />
      <xs:element minOccurs="0" name="hayFormatoVirtual" type="xs:int" />
      <xs:element minOccurs="0" name="idBibliotecaAsociada" type="xs:int" />
      <xs:element minOccurs="0" name="idEditorial" type="xs:int" />
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
      <xs:element minOccurs="0" name="volumen" type="xs:int" />
      <xs:element minOccurs="0" name="materia" type="xs:string" />
      <xs:element minOccurs="0" name="genero" type="xs:string" />
      <xs:element minOccurs="0" name="tomo" type="xs:int" />
      <xs:element minOccurs="0" name="nombreCompleto" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodos_AutoresDeLibroResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:autor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="autor">
    <xs:sequence>
      <xs:element minOccurs="0" name="idAutor" type="xs:int" />
      <xs:element minOccurs="0" name="nombreCompleto" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAutor">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAutorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="confirmarAmpliacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPrestamo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="confirmarAmpliacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="politicaprestamo_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPoliticaPrestamo" type="xs:int" />
      <xs:element minOccurs="0" name="idMoraAsociada" type="xs:int" />
      <xs:element minOccurs="0" name="cantDiasPrestamoRegular" type="xs:int" />
      <xs:element minOccurs="0" name="cantMaxCopiasPorDevolverPorUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="cantDiasDeAmpliacionRegular" type="xs:int" />
      <xs:element minOccurs="0" name="cantMaxAmpliacionesPermitidasPorPrestamo" type="xs:int" />
      <xs:element minOccurs="0" name="cantDiasParaDarPorPerdidaUnaCopia" type="xs:int" />
      <xs:element minOccurs="0" name="cantDiasSinPrestamoPorAtraso" type="xs:int" />
      <xs:element minOccurs="0" name="cantMaxAtrasosPorCiclo" type="xs:int" />
      <xs:element minOccurs="0" name="cantDiasSinPrestamoPorMalEstado" type="xs:int" />
      <xs:element minOccurs="0" name="cargoPorMalEstado" type="xs:float" />
      <xs:element minOccurs="0" name="cantMaxMalEstadoPorCiclo" type="xs:int" />
      <xs:element minOccurs="0" name="cantDiasSinPrestamoPorPerdido" type="xs:int" />
      <xs:element minOccurs="0" name="cargoPorPerdido" type="xs:float" />
      <xs:element minOccurs="0" name="cantMaxPerdidasPorCiclo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="politicaprestamo_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verPenalizacionesPrestamo">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPrestamoAsociado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verPenalizacionesPrestamoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:penalizacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="penalizacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="estaActivo" type="xs:boolean" />
      <xs:element minOccurs="0" name="fechaImposicion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idPenalizacion" type="xs:int" />
      <xs:element minOccurs="0" name="monto" type="xs:float" />
      <xs:element minOccurs="0" name="prestamoAsociado" type="tns:prestamo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="prestamo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ejemplarAsociado" type="tns:copiaEjemplar" />
      <xs:element minOccurs="0" name="fechaDevolucionEsperada" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaDevolucionReal" type="xs:dateTime" />
      <xs:element minOccurs="0" name="huboReservaPrevia" type="xs:boolean" />
      <xs:element minOccurs="0" name="idPrestamo" type="xs:int" />
      <xs:element minOccurs="0" name="instantePrestamo" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="strInstantePrestamo" type="xs:string" />
      <xs:element minOccurs="0" name="tipoEstado" type="tns:tipoEstadoPrestamo" />
      <xs:element minOccurs="0" name="usuarioAsociado" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="copiaEjemplar">
    <xs:sequence>
      <xs:element minOccurs="0" name="direccionLocal" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoEjemplar" />
      <xs:element minOccurs="0" name="idCopiaEjemplar" type="xs:int" />
      <xs:element minOccurs="0" name="publicacionAsociada" type="tns:publicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localDateTime" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenia" type="xs:string" />
      <xs:element minOccurs="0" name="correoInstitucional" type="xs:string" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombreUsuario" type="xs:string" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="tipoUsuario" type="tns:tipoUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verDetallePublicacioTesis">
    <xs:sequence>
      <xs:element minOccurs="0" name="idTesis" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verDetallePublicacioTesisResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:tesis" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tesis">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:publicacion">
        <xs:sequence>
          <xs:element minOccurs="0" name="gradoAcademico" type="tns:tipoGrado" />
          <xs:element minOccurs="0" name="idTesis" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="mostrarReservasEnCurso">
    <xs:sequence>
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mostrarReservasEnCursoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:reserva" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reserva">
    <xs:sequence>
      <xs:element minOccurs="0" name="ejemplarAsociado" type="tns:copiaEjemplar" />
      <xs:element minOccurs="0" name="idReserva" type="xs:int" />
      <xs:element minOccurs="0" name="instanteRecojo" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="instanteReserva" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="str_instanteRecojo" type="xs:string" />
      <xs:element minOccurs="0" name="str_instanteReserva" type="xs:string" />
      <xs:element minOccurs="0" name="tipoEstado" type="tns:tipoEstadoReserva" />
      <xs:element minOccurs="0" name="usuarioAsociado" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="politica_eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPolitica" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="politica_eliminarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="universidad_eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idUniversidad" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="universidad_eliminarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="biblioteca_eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idBiblioteca" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="biblioteca_eliminarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="politicaprestamo_obtenerPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPoliticaPrestamo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="politicaprestamo_obtenerPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:politicaPrestamo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodos_TemasDeTesis">
    <xs:sequence>
      <xs:element minOccurs="0" name="idTesis" type="xs:int" />
      <xs:element minOccurs="0" name="ts_titulo" type="xs:string" />
      <xs:element minOccurs="0" name="fechaPublicacion" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="hayFormatoFisico" type="xs:int" />
      <xs:element minOccurs="0" name="hayFormatoVirtual" type="xs:int" />
      <xs:element minOccurs="0" name="idBibliotecaAsociada" type="xs:int" />
      <xs:element minOccurs="0" name="gradoAcademico" type="xs:string" />
      <xs:element minOccurs="0" name="tm_titulo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodos_TemasDeTesisResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tema" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tema">
    <xs:sequence>
      <xs:element minOccurs="0" name="idTema" type="xs:int" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodos_UniversidadesDeUsuarioPorID">
    <xs:sequence>
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodos_UniversidadesDeUsuarioPorIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:universidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodos_LibrosDeAutor">
    <xs:sequence>
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element minOccurs="0" name="fechaPublicacion" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="hayFormatoFisico" type="xs:int" />
      <xs:element minOccurs="0" name="hayFormatoVirtual" type="xs:int" />
      <xs:element minOccurs="0" name="idBibliotecaAsociada" type="xs:int" />
      <xs:element minOccurs="0" name="idEditorial" type="xs:int" />
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
      <xs:element minOccurs="0" name="volumen" type="xs:int" />
      <xs:element minOccurs="0" name="materia" type="xs:string" />
      <xs:element minOccurs="0" name="genero" type="xs:string" />
      <xs:element minOccurs="0" name="tomo" type="xs:int" />
      <xs:element minOccurs="0" name="idAutor" type="xs:int" />
      <xs:element minOccurs="0" name="nombreCompleto" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodos_LibrosDeAutorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:libro" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="biblioteca_listarTodos">
    <xs:sequence>
      <xs:element minOccurs="0" name="idUniversidadAsociada" type="xs:int" />
      <xs:element minOccurs="0" name="limite" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="biblioteca_listarTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:biblioteca" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mostrarPrestamosEnCurso">
    <xs:sequence>
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="limite" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mostrarPrestamosEnCursoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:prestamo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="politica_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="etiqueta" type="xs:string" />
      <xs:element minOccurs="0" name="idPoliticaPrestamo" type="xs:int" />
      <xs:element minOccurs="0" name="idPoliticaReserva" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="politica_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenia" type="xs:string" />
      <xs:element minOccurs="0" name="nombreUsuario" type="xs:string" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:string" />
      <xs:element minOccurs="0" name="tipoUsuario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ParseException">
    <xs:sequence>
      <xs:element name="errorOffset" type="xs:int" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="politicareserva_eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPoliticaReserva" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="politicareserva_eliminarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="iniciarSesion">
    <xs:sequence>
      <xs:element minOccurs="0" name="correo_nombreusuario" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenia" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="iniciarSesionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="confirmarReserva">
    <xs:sequence>
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="idEjemplarAsociado" type="xs:int" />
      <xs:element minOccurs="0" name="instanteRecojoMax" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="confirmarReservaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="universidad_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idUniversidad" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="correoPersonalAdministrativo" type="xs:string" />
      <xs:element minOccurs="0" name="extensionDominioCorreo" type="xs:string" />
      <xs:element minOccurs="0" name="idPoliticaRegular" type="xs:int" />
      <xs:element minOccurs="0" name="idConsorcioPerteneciente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="universidad_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="politicaprestamo_listarTodos">
    <xs:sequence>
      <xs:element minOccurs="0" name="idMoraAsociada" type="xs:int" />
      <xs:element minOccurs="0" name="limite" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="politicaprestamo_listarTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:politicaPrestamo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodos_UsuariosDeUniversidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" name="correoInstitucional" type="xs:string" />
      <xs:element minOccurs="0" name="nombre_usuario" type="xs:string" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:string" />
      <xs:element minOccurs="0" name="tipoUsuario" type="xs:string" />
      <xs:element minOccurs="0" name="idUniversidad" type="xs:int" />
      <xs:element minOccurs="0" name="idPoliticaRegular" type="xs:int" />
      <xs:element minOccurs="0" name="idConsorcioPerteneciente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodos_UsuariosDeUniversidadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodos_AutoresDeLibroPorID">
    <xs:sequence>
      <xs:element minOccurs="0" name="idLibro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodos_AutoresDeLibroPorIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:autor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="politica_obtenerPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPolitica" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="politica_obtenerPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:politica" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodos_TemasDeTesisPorID">
    <xs:sequence>
      <xs:element minOccurs="0" name="idTesis" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodos_TemasDeTesisPorIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tema" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodos_TesisDeAutor">
    <xs:sequence>
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element minOccurs="0" name="fechaPublicacion" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="hayFormatoFisico" type="xs:int" />
      <xs:element minOccurs="0" name="hayFormatoVirtual" type="xs:int" />
      <xs:element minOccurs="0" name="idBibliotecaAsociada" type="xs:int" />
      <xs:element minOccurs="0" name="gradoAcademico" type="xs:string" />
      <xs:element minOccurs="0" name="idAutor" type="xs:int" />
      <xs:element minOccurs="0" name="nombreCompleto" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodos_TesisDeAutorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tesis" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="politicareserva_listarTodos">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="politicareserva_listarTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:politicaReserva" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consorcio_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="CIF" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consorcio_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nuevaPublicacionTesis">
    <xs:sequence>
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element minOccurs="0" name="fechaPublicacion" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="copiasDisponibles" type="xs:int" />
      <xs:element minOccurs="0" name="hayFormatoFisico" type="xs:int" />
      <xs:element minOccurs="0" name="hayFormatoVirtual" type="xs:int" />
      <xs:element minOccurs="0" name="url" type="xs:string" />
      <xs:element minOccurs="0" name="portada" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="idBibliotecaAsociada" type="xs:int" />
      <xs:element minOccurs="0" name="gradoAcademico" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="direccioneslocal" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="autores" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="temas" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nuevaPublicacionTesisResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorId_copia_ejemplar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCopiaEjemplar" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorId_copia_ejemplarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:copiaEjemplar" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEditorial">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEditorialResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerCopiasEjemplaresDeTesis">
    <xs:sequence>
      <xs:element minOccurs="0" name="idTesis" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerCopiasEjemplaresDeTesisResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:copiaEjemplar" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodos_LibrosDeAutorPorID">
    <xs:sequence>
      <xs:element minOccurs="0" name="idAutor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodos_LibrosDeAutorPorIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:libro" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelarReserva">
    <xs:sequence>
      <xs:element minOccurs="0" name="idReserva" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelarReservaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="confirmarDevolucion">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPrestamo" type="xs:int" />
      <xs:element minOccurs="0" name="idCopiaEjemplar" type="xs:int" />
      <xs:element minOccurs="0" name="estaEnMalEstado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="confirmarDevolucionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodos_TesisDeAutorPorID">
    <xs:sequence>
      <xs:element minOccurs="0" name="idAutor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodos_TesisDeAutorPorIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tesis" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="politicaprestamo_eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPoliticaPrestamo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="politicaprestamo_eliminarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mora_eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idMora" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mora_eliminarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mostrarBibliotecasDeUniversidadesDelProgramador">
    <xs:sequence>
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="idUniversidadesAsociadasDelBibliotecario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mostrarBibliotecasDeUniversidadesDelProgramadorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:biblioteca" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarEditorialPorNombre">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarEditorialPorNombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:editorial" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mora_listarTodos">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mora_listarTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:mora" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="biblioteca_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idBiblioteca" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
      <xs:element minOccurs="0" name="idUniversidadAsociada" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="biblioteca_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario_listarTodos">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" name="correoInstitucional" type="xs:string" />
      <xs:element minOccurs="0" name="nombre_usuario" type="xs:string" />
      <xs:element minOccurs="0" name="tipoUsuario" type="xs:string" />
      <xs:element minOccurs="0" name="limite" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario_listarTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarCalificacionPrestamo">
    <xs:sequence>
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="idCopiaEjemplar" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarCalificacionPrestamoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="politica_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPolitica" type="xs:int" />
      <xs:element minOccurs="0" name="etiqueta" type="xs:string" />
      <xs:element minOccurs="0" name="idPoliticaPrestamo" type="xs:int" />
      <xs:element minOccurs="0" name="idPoliticaReserva" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="politica_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorId_Prestamo">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPrestamo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorId_PrestamoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:prestamo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="universidad_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="correoPersonalAdministrativo" type="xs:string" />
      <xs:element minOccurs="0" name="extensionDominioCorreo" type="xs:string" />
      <xs:element minOccurs="0" name="idPoliticaRegular" type="xs:int" />
      <xs:element minOccurs="0" name="idConsorcioPerteneciente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="universidad_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarPrestamoQueSePrestoCopiaEjemplar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCopiaEjemplar" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarPrestamoQueSePrestoCopiaEjemplarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:prestamo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mora_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="monto" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mora_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPublicacionTesis">
    <xs:sequence>
      <xs:element minOccurs="0" name="idTesis" type="xs:int" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element minOccurs="0" name="fechaPublicacion" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="copiasDisponibles" type="xs:int" />
      <xs:element minOccurs="0" name="hayFormatoFisico" type="xs:int" />
      <xs:element minOccurs="0" name="hayFormatoVirtual" type="xs:int" />
      <xs:element minOccurs="0" name="url" type="xs:string" />
      <xs:element minOccurs="0" name="portada" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="idBibliotecaAsociada" type="xs:int" />
      <xs:element minOccurs="0" name="gradoAcademico" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="idsCopiasEjemplares" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="estadosCopiasEjemplares" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="autores" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="temas" type="xs:int" />
      <xs:element minOccurs="0" name="cantCopiasPorInsertar" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPublicacionTesisResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mora_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idMora" type="xs:int" />
      <xs:element minOccurs="0" name="monto" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mora_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerCopiasEjemplaresDeLibro">
    <xs:sequence>
      <xs:element minOccurs="0" name="idLibro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerCopiasEjemplaresDeLibroResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:copiaEjemplar" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nuevaPublicacionLibro">
    <xs:sequence>
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element minOccurs="0" name="fechaPublicacion" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="copiasDisponibles" type="xs:int" />
      <xs:element minOccurs="0" name="hayFormatoFisico" type="xs:int" />
      <xs:element minOccurs="0" name="hayFormatoVirtual" type="xs:int" />
      <xs:element minOccurs="0" name="url" type="xs:string" />
      <xs:element minOccurs="0" name="portada" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="idBibliotecaAsociada" type="xs:int" />
      <xs:element minOccurs="0" name="ISBN" type="xs:int" />
      <xs:element minOccurs="0" name="idEditorial" type="xs:int" />
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
      <xs:element minOccurs="0" name="volumen" type="xs:int" />
      <xs:element minOccurs="0" name="materia" type="xs:string" />
      <xs:element minOccurs="0" name="genero" type="xs:string" />
      <xs:element minOccurs="0" name="tomo" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="direccioneslocal" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="autores" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nuevaPublicacionLibroResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarTemaPorNombre">
    <xs:sequence>
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element minOccurs="0" name="limite" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarTemaPorNombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tema" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="solicitarReserva">
    <xs:sequence>
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="idPublicacion" type="xs:int" />
      <xs:element minOccurs="0" name="tipoPublicacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="solicitarReservaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:reserva" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarAutorPorNombre">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="limite" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarAutorPorNombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:autor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorAtributosUnicos">
    <xs:sequence>
      <xs:element minOccurs="0" name="correoInstitucional" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenia" type="xs:string" />
      <xs:element minOccurs="0" name="nombre_usuario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorAtributosUnicosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="politicaprestamo_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idMoraAsociada" type="xs:int" />
      <xs:element minOccurs="0" name="cantDiasPrestamoRegular" type="xs:int" />
      <xs:element minOccurs="0" name="cantMaxCopiasPorDevolverPorUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="cantDiasDeAmpliacionRegular" type="xs:int" />
      <xs:element minOccurs="0" name="cantMaxAmpliacionesPermitidasPorPrestamo" type="xs:int" />
      <xs:element minOccurs="0" name="cantDiasParaDarPorPerdidaUnaCopia" type="xs:int" />
      <xs:element minOccurs="0" name="cantDiasSinPrestamoPorAtraso" type="xs:int" />
      <xs:element minOccurs="0" name="cantMaxAtrasosPorCiclo" type="xs:int" />
      <xs:element minOccurs="0" name="cantDiasSinPrestamoPorMalEstado" type="xs:int" />
      <xs:element minOccurs="0" name="cargoPorMalEstado" type="xs:float" />
      <xs:element minOccurs="0" name="cantMaxMalEstadoPorCiclo" type="xs:int" />
      <xs:element minOccurs="0" name="cantDiasSinPrestamoPorPerdido" type="xs:int" />
      <xs:element minOccurs="0" name="cargoPorPerdido" type="xs:float" />
      <xs:element minOccurs="0" name="cantMaxPerdidasPorCiclo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="politicaprestamo_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarUniversidadesAsociadasDeUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombres" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="idUniversidadesActuales" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="idUniversidadesNuevas" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarUniversidadesAsociadasDeUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodos_TesisDeTemaPorID">
    <xs:sequence>
      <xs:element minOccurs="0" name="idTema" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodos_TesisDeTemaPorIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tesis" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="politicareserva_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantMaxHorasDeRecojo" type="xs:int" />
      <xs:element minOccurs="0" name="cantMaxReservasAgendadasPorUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="politicareserva_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarUniversidadesDeUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarUniversidadesDeUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="busquedaAvanzada">
    <xs:sequence>
      <xs:element minOccurs="0" name="modoDeBusqueda" type="xs:int" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="hayFormatoFisico" type="xs:int" />
      <xs:element minOccurs="0" name="hayFormatoVirtual" type="xs:int" />
      <xs:element minOccurs="0" name="idBibliotecaAsociada" type="xs:int" />
      <xs:element minOccurs="0" name="idAutor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="busquedaAvanzadaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:publicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consorcio_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idConsorcio" type="xs:int" />
      <xs:element minOccurs="0" name="CIF" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consorcio_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="publicacionesPorAutor">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="publicacionesPorAutorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:publicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodos_UniversidadesDeUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" name="correoInstitucional" type="xs:string" />
      <xs:element minOccurs="0" name="nombre_usuario" type="xs:string" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:string" />
      <xs:element minOccurs="0" name="tipoUsuario" type="xs:string" />
      <xs:element minOccurs="0" name="idPoliticaRegular" type="xs:int" />
      <xs:element minOccurs="0" name="idConsorcioPerteneciente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodos_UniversidadesDeUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:universidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="politicareserva_obtenerPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPoliticaReserva" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="politicareserva_obtenerPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:politicaReserva" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodos_AutoresDeTesis">
    <xs:sequence>
      <xs:element minOccurs="0" name="idTesis" type="xs:int" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element minOccurs="0" name="fechaPublicacion" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="hayFormatoFisico" type="xs:int" />
      <xs:element minOccurs="0" name="hayFormatoVirtual" type="xs:int" />
      <xs:element minOccurs="0" name="idBibliotecaAsociada" type="xs:int" />
      <xs:element minOccurs="0" name="gradoAcademico" type="xs:string" />
      <xs:element minOccurs="0" name="nombreCompleto" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodos_AutoresDeTesisResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:autor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodos_TesisDeTema">
    <xs:sequence>
      <xs:element minOccurs="0" name="ts_titulo" type="xs:string" />
      <xs:element minOccurs="0" name="fechaPublicacion" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="hayFormatoFisico" type="xs:int" />
      <xs:element minOccurs="0" name="hayFormatoVirtual" type="xs:int" />
      <xs:element minOccurs="0" name="idBibliotecaAsociada" type="xs:int" />
      <xs:element minOccurs="0" name="gradoAcademico" type="xs:string" />
      <xs:element minOccurs="0" name="idTema" type="xs:int" />
      <xs:element minOccurs="0" name="tm_titulo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodos_TesisDeTemaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tesis" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarMiembro">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenia" type="xs:string" />
      <xs:element minOccurs="0" name="contraseniaconfirmacion" type="xs:string" />
      <xs:element minOccurs="0" name="nombreusuario" type="xs:string" />
      <xs:element minOccurs="0" name="strIdUniversidad" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarMiembroResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="solicitarAmpliacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPrestamo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="solicitarAmpliacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarCopiaEjemplar">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarCopiaEjemplarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:copiaEjemplar" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="retornarNombreDelSevicio">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="retornarNombreDelSevicioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPublicacionLibro">
    <xs:sequence>
      <xs:element minOccurs="0" name="idLibro" type="xs:int" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element minOccurs="0" name="fechaPublicacion" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="copiasDisponibles" type="xs:int" />
      <xs:element minOccurs="0" name="hayFormatoFisico" type="xs:int" />
      <xs:element minOccurs="0" name="hayFormatoVirtual" type="xs:int" />
      <xs:element minOccurs="0" name="url" type="xs:string" />
      <xs:element minOccurs="0" name="portada" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="idBibliotecaAsociada" type="xs:int" />
      <xs:element minOccurs="0" name="ISBN" type="xs:int" />
      <xs:element minOccurs="0" name="idEditorial" type="xs:int" />
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
      <xs:element minOccurs="0" name="volumen" type="xs:int" />
      <xs:element minOccurs="0" name="materia" type="xs:string" />
      <xs:element minOccurs="0" name="genero" type="xs:string" />
      <xs:element minOccurs="0" name="tomo" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="idsCopiasEjemplares" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="estadosCopiasEjemplares" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="autores" type="xs:int" />
      <xs:element minOccurs="0" name="cantCopiasPorInsertar" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPublicacionLibroResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mostrarUltimosPrestamos">
    <xs:sequence>
      <xs:element minOccurs="0" name="limite" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mostrarUltimosPrestamosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:prestamo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarTema">
    <xs:sequence>
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarTemaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="politica_listarTodos">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPoliticaPrestamo" type="xs:int" />
      <xs:element minOccurs="0" name="idPoliticaReserva" type="xs:int" />
      <xs:element minOccurs="0" name="limite" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="politica_listarTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:politica" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodos_AutoresDeTesisPorID">
    <xs:sequence>
      <xs:element minOccurs="0" name="idTesis" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodos_AutoresDeTesisPorIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:autor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consorcio_listarTodos">
    <xs:sequence>
      <xs:element minOccurs="0" name="limite" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consorcio_listarTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:consorcio" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="universidad_listarTodos">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPoliticaRegular" type="xs:int" />
      <xs:element minOccurs="0" name="idConsorcioPerteneciente" type="xs:int" />
      <xs:element minOccurs="0" name="limite" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="universidad_listarTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:universidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mora_obtenerPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idMora" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mora_obtenerPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:mora" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="universidad_obtenerPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idUniversidad" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="universidad_obtenerPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:universidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="biblioteca_obtenerPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idBiblioteca" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="biblioteca_obtenerPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:biblioteca" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verCatalogo">
    <xs:sequence>
      <xs:element minOccurs="0" name="modoDeBusqueda" type="xs:int" />
      <xs:element minOccurs="0" name="idBibliotecaAsociada" type="xs:int" />
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element minOccurs="0" name="limite" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verCatalogoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:publicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="politicareserva_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPoliticaReserva" type="xs:int" />
      <xs:element minOccurs="0" name="cantMaxHorasDeRecojo" type="xs:int" />
      <xs:element minOccurs="0" name="cantMaxReservasAgendadasPorUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="politicareserva_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="biblioteca_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
      <xs:element minOccurs="0" name="idUniversidadAsociada" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="biblioteca_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodos_UsuariosDeUniversidadPorID">
    <xs:sequence>
      <xs:element minOccurs="0" name="idUniversidad" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodos_UsuariosDeUniversidadPorIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarMiembroID">
    <xs:sequence>
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarMiembroIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarPrestamo">
    <xs:sequence>
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="idCopiaEjemplar" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarPrestamoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoLibro">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NOVELA" />
      <xs:enumeration value="ACADEMICO" />
      <xs:enumeration value="ENCICLOPEDIA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoEjemplar">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OPTIMO" />
      <xs:enumeration value="DANIADO" />
      <xs:enumeration value="PERDIDO" />
      <xs:enumeration value="NODISPONIBLE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoEstadoPrestamo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PORDEVOLVER" />
      <xs:enumeration value="DEVUELTO" />
      <xs:enumeration value="ATRASADO" />
      <xs:enumeration value="CANCELADOPORPERDIDA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoUsuario">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MIEMBRO" />
      <xs:enumeration value="BIBLIOTECARIO" />
      <xs:enumeration value="PROGRAMADOR" />
      <xs:enumeration value="ADMINISTRADOR" />
      <xs:enumeration value="SANCIONADO" />
      <xs:enumeration value="INACTIVO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoGrado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TECNICO" />
      <xs:enumeration value="LICENCIATURA" />
      <xs:enumeration value="ESPECIALIZACION" />
      <xs:enumeration value="MAESTRIA" />
      <xs:enumeration value="DOCTORADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoEstadoReserva">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AGENDADA" />
      <xs:enumeration value="CANCELADA" />
      <xs:enumeration value="RECOGIDA" />
      <xs:enumeration value="NORECOGIDA" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>